{% macro render_field(field) %}
  <span class = "col c3">{{ field.label }}</span>
  <span class ="c4">{{ field(**kwargs)|safe }}</span>
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><FONT COLOR="ff0000">{{ error }}</FONT></li>
    {% endfor %}
    </ul>
  {% endif %}
  
{% endmacro %}
