{% extends "base.html" %}
{% block body %}

<div class="w3-center boxsize">
  <h2>Welcome to About Gidout </h2>
  <h3>What will this website do for me??</h3>
  <p>
  <center><iframe width="560" height="315" src="https://www.youtube.com/embed/aAmUaCAM9Uc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  <div class="w3-left-align">
    I have wanted to build this website for many years. I first thought about how to do this in 1996. <br>
    At that time the internet could be described as a gigantic library with all the books in the world.<br>
    Unfortunately the lights were all off and all the books were on the floor.<br>
    I could see how much work it was going to be to make this. The tools for web programming were in their infancy,
    and I would have had to invent all the technology from scratch.
    This has been a LOT of work, 5 years so far... I was waiting for someone else to make it...</p>

    This is an event site that is designed to be as simple as possible<br>
    and as efficient as possible for you to find something to do that gets you out of the house, away from the boob tube, the confuser<br>
    (computer) and to relate to other physical as opposed to virtual human beings.<br>
    Even though this website is a different design than to any other site, I hope that you will find it easy to figure out how to use.<br>
    It is based on the idea of serendipitous discovery.<br>
    There are over 600 subjects, all represented by a button, these subjects are interlinked by a graph by how they are related one to another,<br>
    try clicking on subjects that you are interested in, see where you get to.<br>
    If you want more or different buttons for the subjects you want to promote, use the contact page and drop me a note.
    <p>
      The <b>ROOT</b> button has the most diverse links to traverse the site quickly, and it gives you a home to start from.
    </p>
    You may also click on the LIST button ( second from left top ) this will show all the available subjects.<br>
    To post your event, just sign up and post it, that will be free and free forever. If you keep your post lawful and non-offensive you are welcome here.<br>
    When you register on this site you are contractually agreeing to the Terms of Service (TOS).<br>
    This means that you will be personally responsible for your actions, and you assume all liability for your actions and posts.<br>
    If you want special features such as advertising for your products, then there will be a small charge.<br>
    I am not trying to get rich, but exchange is necessary to be able to provide this service.<br>
    Please give it a try<br><br>
    Bill<br>

  </div>
  <p>
    <b>/tldr: Post your events here so that you can meet people that you have interests in common with.</b>
  </p>
</div>
{% endblock %}





