{% extends "base.html" %}
{% block body %}
<html>
    <h1>User Edit</h1>
    {% from "_formhelpers.html" import render_field %}
    <hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
<span>You may purchase your extended feature settings here. There are several options.
The extended services are all based on $10.00 a month CAD.<br>
<hr>
<table>
  <tr><!--Standard subscribe button -->
    <td class = "bor">
        <a href={{ linkbuy }}><!--Standard paypal button  for one month-->
            <img src="https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif"><br>
        Click here to purchase one month of extended services.</a>
    </td>
    <td class = "bor">
      <form name="topaypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd"           value="_xclick-subscriptions">
        <input type="hidden" name="custom"        value="{{person}}"/>
        <input type="hidden" name="business"      value="{{business}}"/>
        <input type="hidden" name="item_name"     value="Gidout Subscription"/>
        <input type="hidden" name="currency_code" value="CAD"/>
        <input type="hidden" name="item_number"   value="500"/>
        <input type="hidden" name="no_shipping"   value="1"/>
        <input type="hidden" name="a3"            value="10.00"/>
        <input type="hidden" name="p3"            value="1"/>
        <input type="hidden" name="t3"            value="M"/>
        <input type="hidden" name="src"           value="1"/>
        <input type="hidden" name="sra"           value="1"/>
        <input type="hidden" name="rm"            value="1"/>
        <input type="hidden" name="return"        value="{{wwwsuccess}}"/>
        <input type="hidden" name="cancel_return" value="{{wwwcancel}}"/>
        <input type="hidden" name="notify_url"    value="{{wwwreturn}}"/>
        <input type="image"  src="/static/images/btn_xpressCheckout.gif" name="submit" alt=”submit” title="PayPal - The safer, easier way to pay online!"/>
      </form>
        Click Here to subscribe to extended services.
    </td> <!--Standard one month Buy -->
  </tr>
  <tr>
    <td></td>
    <!-- Unsubscribe button -->
    <td class = "bor">
        <A HREF="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=KNNF8BUK8LTZE">
        <IMG SRC="https://www.sandbox.paypal.com/en_US/i/btn/btn_unsubscribe_LG.gif" BORDER="0">
        </A>
    </td>
  </tr>
</table>

</span>

<form method=post action="/useredit">
    {{form.hidden_tag()}}
    {{ form.csrf_token }}
    <hr>
    <table>
      <tr>
        <td class ="bakf">Account Status:</td><td><span class ="bakf">{{form.title(style="width: 200px;")}}</span></td>
      <td class ="bakd">Credit:</td><td><span class ="bakd">{{form.first_name(style="width: 200px;")}}</span></td>
      <tr>

        <td class ="bakd">Last Name:</td><td><span class ="bakd">{{form.last_name(style="width: 200px;")}}</span></td>
      </tr>
    </table>
</form>

{% else %}
    <p>You need to be <a href="/login/" target="blank"><strong>logged in</strong></a> to subscribe.</p>
{% endif %}
{% endblock %}
