

A Paypal account has bought you one month! Details of this payment are below.<br>
Transaction: <br>
{{ transaction }}<br>
COMPANY:<br>
{{ first_name }}<br>
{{ last_name }}<br>
AMOUNT:<br>
${{ amount }}<br>
PAYMENT METHOD:<br>
PayPal<br>
TYPE:<br>
One Month<br>
DATE:<br>
{{ date }}<br>
CREATED BY:<br>
accounts@gidout.com<br>
<p></p>


 <h2>Gidout</h2><br>

 1516 Louise Place, Victoria | BC | V8P 2T9 www.gidout.com
