
<p>Welcome! To GIDOUT</p>
<p>Your Email Program might not like this email and May Complain.</p>
<p>If you have just signed up for Gidout then this Email is safe.</p>
<p>Thanks for signing up. Please follow this link to activate your account:</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br>
<p>Cheers!</p>
