{% extends "base.html" %}
{% block body %}

<script type="text/javascript">
    "use strict";
function groupCheck() {
    var element = this;
    var arr = ["input0", "input1", "input2", "input3", "input4", "input5", "input6", "input7", "input8", "input9", "input10", "input11", "input12",
      "input13", "input14", "input15", "input16", "input17", "input18", "input19", "input20", "input21", "input22", "input23", "input24", "input25",
      "input26", "input27", "input28", "input29", "input30", "input31", "input32", "input33", "input34", "input35", "input36", "input37", "input38",
      "input39", "input40", "input41", "input42", "input43", "input44", "input45", "input46", "input47", "input48", "input49", "input50", "input51",
      "input52", "input53", "input54", "input55", "input56", "input57", "input58", "input59", "input60", "input61", "input62", "input63"];
    var subs = ["sub0", "sub1", "sub2", "sub3", "sub4", "sub5", "sub6", "sub7", "sub8", "sub9", "sub10", "sub11", "sub12", "sub13", "sub14", "sub15", "sub16", "sub17",
      "sub18", "sub19", "sub20", "sub21", "sub22", "sub23", "sub24", "sub25", "sub26", "sub27", "sub28", "sub29", "sub30", "sub31", "sub32", "sub33", "sub34", "sub35",
      "sub36", "sub37", "sub38", "sub39", "sub40", "sub41", "sub42", "sub43", "sub44", "sub45", "sub46", "sub47", "sub48", "sub49", "sub50", "sub51", "sub52", "sub53",
      "sub54", "sub55", "sub56", "sub57", "sub58", "sub59", "sub60", "sub61", "sub62", "sub63"];
    var hid = ["hid0", "hid1", "hid2", "hid3", "hid4", "hid5", "hid6", "hid7", "hid8", "hid9", "hid10", "hid11", "hid12", "hid13", "hid14", "hid15", "hid16", "hid17",
      "hid18", "hid19", "hid20", "hid21", "hid22", "hid23", "hid24", "hid25", "hid26", "hid27", "hid28", "hid29", "hid30", "hid31", "hid32", "hid33", "hid34", "hid35",
      "hid36", "hid37", "hid38", "hid39", "hid40", "hid41", "hid42", "hid43", "hid44", "hid45", "hid46", "hid47", "hid48", "hid49", "hid50", "hid51", "hid52", "hid53",
      "hid54", "hid55", "hid56", "hid57", "hid58", "hid59", "hid60", "hid61", "hid62", "hid63"];
    var i = 0;
    var h = 0;
    $.getJSON($SCRIPT_ROOT + '/_vgroupchoice', {a: element.id},
        function (data) {
        $("#grouptbody").replaceWith(data.result);
    });
    $.getJSON($SCRIPT_ROOT + '/_vgetgroup', {a: element.id},
        function (data) {
            for (i = 0; i < data.up.length; i++)
            {
                document.getElementById(arr[i]).value = data.up[i];
                document.getElementById(subs[i]).value = "<-delete";
                document.getElementById(hid[i]).value = element.id;
                document.getElementById(arr[i]).style.backgroundColor = "MistyRose";
            }
                document.getElementById(arr[i]).value = "";
                document.getElementById(subs[i]).value = "<-subUP";
                document.getElementById(hid[i]).value = element.id;
                document.getElementById(arr[i]).style.backgroundColor = "Snow";
                i++;
                h = i ;
            for (i; i < data.dn.length + h; i++)
            {
                document.getElementById(arr[i]).value = data.dn[i - h];
                document.getElementById(subs[i]).value = "<--delete";
                document.getElementById(hid[i]).value = element.id;
                document.getElementById(arr[i]).style.backgroundColor = "LightCyan";
            }
                document.getElementById(arr[i]).value = "";
                document.getElementById(subs[i]).value = "<subDWN";
                document.getElementById(hid[i]).value = element.id;
                document.getElementById(arr[i]).style.backgroundColor = "Snow";
                i++;
            for (i; i < 65; i++)
            {
                document.getElementById(arr[i]).value = "";
                document.getElementById(subs[i]).value = "disabled";
                document.getElementById(hid[i]).value = element.id;
                document.getElementById(arr[i]).style.backgroundColor = "LightGray";
            }
    });
    $('#basegroup').val(element.id);
    return false;
};
</script>
<script type="text/javascript">
    "use strict";
     $(document).on('click', ".grouplink", groupCheck);
</script>

{% from "_formhelpersadmin.html" import render_field %}
    <hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
<h2>Admin Vgid Group</h2>
   <span class= "col c7" >{{ render_field(form.basegroup) }}</span><br>
<div class="w3-bar-item1">
<table>
  <tr>
    <form method=post action="/adminvgidgroup" id="sampleform0">
      <td><input type="text" id="input0" name="text"/><input class="btn-b" id="sub0" type=submit name="sub" value="submit"/></td>
      <td><input id="hid0" type="hidden" name="hid" value="Norway"/>{{ form.csrf_token }}</td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform1">
      <td><input type="text" id="input1" name="text"/><input class="btn-b" id="sub1" type=submit name="sub" value="submit"/></td>
      <td><input id="hid1" type="hidden" name="hid" value="Norway"/>{{ form.csrf_token }}</td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform2">
      <td><input type="text" id="input2" name="text"/><input class="btn-b" id="sub2" type=submit name="sub" value="submit"/></td>
      <td><input id="hid2" type="hidden" name="hid" value="Norway"/>{{ form.csrf_token }}</td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform3">
      <td><input type="text" id="input3" name="text"/><input class="btn-b" id="sub3" type=submit name="sub" value="submit"/></td>
      <td><input id="hid3" type="hidden" name="hid" value="Norway"/>{{ form.csrf_token }}</td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform4">
    {{ form.csrf_token }}
      <td><input type="text" id="input4" name="text"/><input class="btn-b" id="sub4" type=submit name="sub" value="submit"/></td>
      <td><input id="hid4" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform5">
    {{ form.csrf_token }}
      <td><input type="text" id="input5" name="text"/><input class="btn-b" id="sub5" type=submit name="sub" value="submit"/></td>
      <td><input id="hid5" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform6">
    {{ form.csrf_token }}
      <td><input type="text" id="input6" name="text"/><input class="btn-b" id="sub6" type=submit name="sub" value="submit"/></td>
      <td><input id="hid6" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform7">
    {{ form.csrf_token }}
      <td><input type="text" id="input7" name="text"/><input class="btn-b" id="sub7" type=submit name="sub" value="submit"/></td>
      <td><input id="hid7" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform8">
    {{ form.csrf_token }}
      <td><input type="text" id="input8" name="text"/><input class="btn-b" id="sub8" type=submit name="sub" value="submit"/></td>
      <td><input id="hid8" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform9">
    {{ form.csrf_token }}
      <td><input type="text" id="input9" name="text"/><input class="btn-b" id="sub9" type=submit name="sub" value="submit"/></td>
      <td><input id="hid9" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform10">
    {{ form.csrf_token }}
      <td><input type="text" id="input10" name="text"/><input class="btn-b" id="sub10" type=submit name="sub" value="submit"/></td>
      <td><input id="hid10" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform11">
    {{ form.csrf_token }}
      <td><input type="text" id="input11" name="text"/><input class="btn-b" id="sub11" type=submit name="sub" value="submit"/></td>
      <td><input id="hid11" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform12">
    {{ form.csrf_token }}
      <td><input type="text" id="input12" name="text"/><input class="btn-b" id="sub12" type=submit name="sub" value="submit"/></td>
      <td><input id="hid12" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform13">
    {{ form.csrf_token }}
      <td><input type="text" id="input13" name="text"/><input class="btn-b" id="sub13" type=submit name="sub" value="submit"/></td>
      <td><input id="hid13" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform14">
    {{ form.csrf_token }}
      <td><input type="text" id="input14" name="text"/><input class="btn-b" id="sub14" type=submit name="sub" value="submit"/></td>
      <td><input id="hid14" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform15">
    {{ form.csrf_token }}
      <td><input type="text" id="input15" name="text"/><input class="btn-b" id="sub15" type=submit name="sub" value="submit"/></td>
      <td><input id="hid15" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform16">
    {{ form.csrf_token }}
      <td><input type="text" id="input16" name="text"/><input class="btn-b" id="sub16" type=submit name="sub" value="submit"/></td>
      <td><input id="hid16" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform17">
    {{ form.csrf_token }}
      <td><input type="text" id="input17" name="text"/><input class="btn-b" id="sub17" type=submit name="sub" value="submit"/></td>
      <td><input id="hid17" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform18">
    {{ form.csrf_token }}
      <td><input type="text" id="input18" name="text"/><input class="btn-b" id="sub18" type=submit name="sub" value="submit"/></td>
      <td><input id="hid18" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform19">
    {{ form.csrf_token }}
      <td><input type="text" id="input19" name="text"/><input class="btn-b" id="sub19" type=submit name="sub" value="submit"/></td>
      <td><input id="hid19" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform20">
    {{ form.csrf_token }}
      <td><input type="text" id="input20" name="text"/><input class="btn-b" id="sub20" type=submit name="sub" value="submit"/></td>
      <td><input id="hid20" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform21">
    {{ form.csrf_token }}
      <td><input type="text" id="input21" name="text"/><input class="btn-b" id="sub21" type=submit name="sub" value="submit"/></td>
      <td><input id="hid21" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform22">
    {{ form.csrf_token }}
      <td><input type="text" id="input22" name="text"/><input class="btn-b" id="sub22" type=submit name="sub" value="submit"/></td>
      <td><input id="hid22" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform23">
    {{ form.csrf_token }}
      <td><input type="text" id="input23" name="text"/><input class="btn-b" id="sub23" type=submit name="sub" value="submit"/></td>
      <td><input id="hid23" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform24">
    {{ form.csrf_token }}
      <td><input type="text" id="input24" name="text"/><input class="btn-b" id="sub24" type=submit name="sub" value="submit"/></td>
      <td><input id="hid24" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform25">
    {{ form.csrf_token }}
      <td><input type="text" id="input25" name="text"/><input class="btn-b" id="sub25" type=submit name="sub" value="submit"/></td>
      <td><input id="hid25" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform26">
    {{ form.csrf_token }}
      <td><input type="text" id="input26" name="text"/><input class="btn-b" id="sub26" type=submit name="sub" value="submit"/></td>
      <td><input id="hid26" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform27">
    {{ form.csrf_token }}
      <td><input type="text" id="input27" name="text"/><input class="btn-b" id="sub27" type=submit name="sub" value="submit"/></td>
      <td><input id="hid27" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform28">
    {{ form.csrf_token }}
      <td><input type="text" id="input28" name="text"/><input class="btn-b" id="sub28" type=submit name="sub" value="submit"/></td>
      <td><input id="hid28" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform29">
    {{ form.csrf_token }}
      <td><input type="text" id="input29" name="text"/><input class="btn-b" id="sub29" type=submit name="sub" value="submit"/></td>
      <td><input id="hid29" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform30">
    {{ form.csrf_token }}
      <td><input type="text" id="input30" name="text"/><input class="btn-b" id="sub30" type=submit name="sub" value="submit"/></td>
      <td><input id="hid30" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform31">
    {{ form.csrf_token }}
      <td><input type="text" id="input31" name="text"/><input class="btn-b" id="sub31" type=submit name="sub" value="submit"/></td>
      <td><input id="hid31" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform32">
    {{ form.csrf_token }}
      <td><input type="text" id="input32" name="text"/><input class="btn-b" id="sub32" type=submit name="sub" value="submit"/></td>
      <td><input id="hid32" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform33">
    {{ form.csrf_token }}
      <td><input type="text" id="input33" name="text"/><input class="btn-b" id="sub33" type=submit name="sub" value="submit"/></td>
      <td><input id="hid33" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform34">
    {{ form.csrf_token }}
      <td><input type="text" id="input34" name="text"/><input class="btn-b" id="sub34" type=submit name="sub" value="submit"/></td>
      <td><input id="hid34" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform35">
    {{ form.csrf_token }}
      <td><input type="text" id="input35" name="text"/><input class="btn-b" id="sub35" type=submit name="sub" value="submit"/></td>
      <td><input id="hid35" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform36">
    {{ form.csrf_token }}
      <td><input type="text" id="input36" name="text"/><input class="btn-b" id="sub36" type=submit name="sub" value="submit"/></td>
      <td><input id="hid36" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform37">
    {{ form.csrf_token }}
      <td><input type="text" id="input37" name="text"/><input class="btn-b" id="sub37" type=submit name="sub" value="submit"/></td>
      <td><input id="hid37" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform38">
    {{ form.csrf_token }}
      <td><input type="text" id="input38" name="text"/><input class="btn-b" id="sub38" type=submit name="sub" value="submit"/></td>
      <td><input id="hid38" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform39">
    {{ form.csrf_token }}
      <td><input type="text" id="input39" name="text"/><input class="btn-b" id="sub39" type=submit name="sub" value="submit"/></td>
      <td><input id="hid39" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform40">
    {{ form.csrf_token }}
      <td><input type="text" id="input40" name="text"/><input class="btn-b" id="sub40" type=submit name="sub" value="submit"/></td>
      <td><input id="hid40" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform41">
    {{ form.csrf_token }}
      <td><input type="text" id="input41" name="text"/><input class="btn-b" id="sub41" type=submit name="sub" value="submit"/></td>
      <td><input id="hid41" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform42">
    {{ form.csrf_token }}
      <td><input type="text" id="input42" name="text"/><input class="btn-b" id="sub42" type=submit name="sub" value="submit"/></td>
      <td><input id="hid42" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform43">
    {{ form.csrf_token }}
      <td><input type="text" id="input43" name="text"/><input class="btn-b" id="sub43" type=submit name="sub" value="submit"/></td>
      <td><input id="hid43" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform44">
    {{ form.csrf_token }}
      <td><input type="text" id="input44" name="text"/><input class="btn-b" id="sub44" type=submit name="sub" value="submit"/></td>
      <td><input id="hid44" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform45">
    {{ form.csrf_token }}
      <td><input type="text" id="input45" name="text"/><input class="btn-b" id="sub45" type=submit name="sub" value="submit"/></td>
      <td><input id="hid45" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform46">
    {{ form.csrf_token }}
      <td><input type="text" id="input46" name="text"/><input class="btn-b" id="sub46" type=submit name="sub" value="submit"/></td>
      <td><input id="hid46" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform47">
    {{ form.csrf_token }}
      <td><input type="text" id="input47" name="text"/><input class="btn-b" id="sub47" type=submit name="sub" value="submit"/></td>
      <td><input id="hid47" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform48">
    {{ form.csrf_token }}
      <td><input type="text" id="input48" name="text"/><input class="btn-b" id="sub48" type=submit name="sub" value="submit"/></td>
      <td><input id="hid48" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform49">
    {{ form.csrf_token }}
      <td><input type="text" id="input49" name="text"/><input class="btn-b" id="sub49" type=submit name="sub" value="submit"/></td>
      <td><input id="hid49" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform50">
    {{ form.csrf_token }}
      <td><input type="text" id="input50" name="text"/><input class="btn-b" id="sub50" type=submit name="sub" value="submit"/></td>
      <td><input id="hid50" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform51">
    {{ form.csrf_token }}
      <td><input type="text" id="input51" name="text"/><input class="btn-b" id="sub51" type=submit name="sub" value="submit"/></td>
      <td><input id="hid51" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform52">
    {{ form.csrf_token }}
      <td><input type="text" id="input52" name="text"/><input class="btn-b" id="sub52" type=submit name="sub" value="submit"/></td>
      <td><input id="hid52" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform53">
    {{ form.csrf_token }}
      <td><input type="text" id="input53" name="text"/><input class="btn-b" id="sub53" type=submit name="sub" value="submit"/></td>
      <td><input id="hid53" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform54">
    {{ form.csrf_token }}
      <td><input type="text" id="input54" name="text"/><input class="btn-b" id="sub54" type=submit name="sub" value="submit"/></td>
      <td><input id="hid54" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform55">
    {{ form.csrf_token }}
      <td><input type="text" id="input55" name="text"/><input class="btn-b" id="sub55" type=submit name="sub" value="submit"/></td>
      <td><input id="hid55" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform56">
    {{ form.csrf_token }}
      <td><input type="text" id="input56" name="text"/><input class="btn-b" id="sub56" type=submit name="sub" value="submit"/></td>
      <td><input id="hid56" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform57">
    {{ form.csrf_token }}
      <td><input type="text" id="input57" name="text"/><input class="btn-b" id="sub57" type=submit name="sub" value="submit"/></td>
      <td><input id="hid57" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform58">
    {{ form.csrf_token }}
      <td><input type="text" id="input58" name="text"/><input class="btn-b" id="sub58" type=submit name="sub" value="submit"/></td>
      <td><input id="hid58" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform59">
    {{ form.csrf_token }}
      <td><input type="text" id="input59" name="text"/><input class="btn-b" id="sub59" type=submit name="sub" value="submit"/></td>
      <td><input id="hid59" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>

  <tr>
    <form  method=post action="/adminvgidgroup" id="sampleform60">
    {{ form.csrf_token }}
      <td><input type="text" id="input60" name="text"/><input class="btn-b" id="sub60" type=submit name="sub" value="submit"/></td>
      <td><input id="hid60" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform61">
    {{ form.csrf_token }}
      <td><input type="text" id="input61" name="text"/><input class="btn-b" id="sub61" type=submit name="sub" value="submit"/></td>
      <td><input id="hid61" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform62">
    {{ form.csrf_token }}
      <td><input type="text" id="input62" name="text"/><input class="btn-b" id="sub62" type=submit name="sub" value="submit"/></td>
      <td><input id="hid62" type="hidden" name="hid" value="Norway"/></td>
    </form>
    <form  method=post action="/adminvgidgroup" id="sampleform63">
    {{ form.csrf_token }}
      <td><input type="text" id="input63" name="text"/><input class="btn-b" id="sub63" type=submit name="sub" value="submit"/></td>
      <td><input id="hid63" type="hidden" name="hid" value="Norway"/></td>
    </form>
  </tr>
</table>
</div>

<div>
  <form method=post action="/adminhome" >
    <input type="hidden" name="sub" value="user" />
    {{form.hidden_tag()}}
    {{ form.csrf_token }}
   <fieldset class="bakfa"><legend>Group Type</legend><!-- Group type     -->
      <table  id="grouptable">
        <tbody id="grouptbody">
          <tr>
            {% for bb in gbut %}
            <td style="font-size:7.00pt;"><img class="grouplink" id="{{bb}}" src="/static/images/venue/buttons/{{bb}}.png" title="{{bb}}" />{{bb}}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </fieldset>
  </form>
</div>

{% else %}
    <p>You need to be <a href="/login/" target="blank"><strong>logged in</strong></a> to be here.</p>
{% endif %}
{% endblock %}

