{% extends "base.html" %}
{% block body %}

<h1>Admin Home</h1>
    <hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
<form method=post action="/adminhome">
  {{form.hidden_tag()}}
  {{ form.csrf_token }}
  <table class="marginl">

  <tr>
      <td>Edit User Data email:</td><td><span class ="bakf">{{form.email(style="width: 200px;")}}</span></td>
  </tr>
  <tr>
      <td>Edit User Data nick:</td><td><span class ="bakf">{{form.nickname(style="width: 200px;")}}</span></td>
  </tr>
  <tr>
      <td>Edit Post by Number:</td><td><span class ="bakf">{{form.post(style="width: 200px;")}}</span></td>
  </tr>
  <tr>
      <td>Edit Venue Information:</td><td><span class ="bakf">{{form.venue(style="width: 200px;")}}</span></td>
  </tr>
  <tr>
      <td>Edit Comments by Number:</td><td><span class ="bakf">{{form.comment(style="width: 200px;")}}</span></td>
  </tr>
  <tr>
      <td>Edit Contact:</td><td><span class ="bakf">{{form.contact(style="width: 200px;")}}</span></td>
  </tr>
  <tr>
      <td>Edit Mail:</td><td><span class ="bakf">{{form.group(style="width: 200px;")}}</span></td>
  </tr>

  </table>
  <a class="w3-button w3-black marginl" href="/admingidgroup">Event Groups Graph</a>
  <a class="w3-button w3-black" href="/adminvgidgroup">Venue Group Graph</a><br>
  <input class="btn-b marginl" type=submit name="Submit" value="submit">
</form>
{% else %}
    <p>You need to be <a href="/login/" target="blank"><strong>logged in</strong></a> to be on this page.</p>
{% endif %}
{% endblock %}
