{% extends "base.html" %}
{% block body %}
    <h1>Admin User</h1>
    <hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
Choose user here, email is first choice, then nickname then id
{% if current_user.is_authenticated %}
<form method=post action="/adminuser">
    <input type="hidden" name="sub" value="user" />
    {{ form.csrf_token }}
    {{form.hidden_tag()}}
   <input class="btn-b" type=submit name="User" value="user">
  <table>
    <tr>
      <td>Email:</td>
      <td><span class ="bakf">{{form.email(style="width: 200px;")}}</span></td>
      <td>Nick Name:</td>
      <td><span class ="bakd">{{form.nickname(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Id:</td>
      <td><span class ="bakd">{{form.id(style="width: 200px;")}}</span></td>
      <td>Last Name:</td>
      <td><span class ="bakd">{{form.last_name(style="width: 200px;")}}</span></td>
    </tr>
  </table>
</form>

<form method=post action="/adminuser">

    <input type="hidden" name="sub" value="update" />
    {{ form.csrf_token }}
    {{form.hidden_tag()}}
    <span hidden>{{ form.hidden_id }}</span>
    <hr>
  <table>
    <tr>
      <td>Title:</td>
      <td><span>{{form.title(style="width: 200px;")}}</span></td>
      <td>First Name:</td>
      <td><span>{{form.first_name(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Initial:</td>
      <td><span>{{form.initial(style="width: 200px;")}}</span></td>
      <td>Last Name:</td>
      <td><span>{{form.last_name(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Avatar:</td>
      <td><span>{{form.avatar(style="width: 200px;")}}</span></td>
      <td>Street:</td>
      <td><span>{{form.street(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>City:</td>
      <td><span>{{form.city(style="width: 200px;")}}</span></td>
      <td>State/Prov:</td>
      <td><span>{{form.state_prov(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Country:</td>
      <td><span>{{form.country(style="width: 200px;")}}</span></td>
      <td>Postal Code:</td>
      <td><span>{{form.postalcode(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Image:</td>
      <td><span>{{form.image(style="width: 200px;")}}</span></td>
      <td>Web Link:</td>
      <td><span>{{form.weblink(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Web Link Title:</td>
      <td><span>{{form.weblink_title(style="width: 200px;")}}</span></td>
      <td>IP List:</td>
      <td><span>{{form.ip_list(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Phone 1:</td>
      <td><span>{{form.phone1(style="width: 200px;")}}</span></td>
      <td>Phone 2:</td>
      <td><span>{{form.phone2(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Fax:</td>
      <td><span>{{form.fax(style="width: 200px;")}}</span></td>
      <td>Hide Email:</td>
      <td><span>{{form.hide_email(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Karma Bad:</td>
      <td><span>{{form.karma_bad(style="width: 200px;")}}</span></td>
      <td>Karma Good:</td>
      <td><span>{{form.karma_good(style="width: 200px;")}}</span></td>
    </tr><tr>
      <td>Messages:</td>
      <td><span>{{form.messages(style="width: 200px;")}}</span></td>
      <td>Passwd:</td>
      <td><span>{{form.passwd(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Trust:</td>
      <td><span>{{form.trust(style="width: 200px;")}}</span></td>
      <td>Role:</td>
      <td><span>{{form.role(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>First Date:</td>
      <td><span>{{form.first_date(style="width: 200px;")}}</span></td>
      <td>Last Seen:</td>
      <td><span>{{form.last_seen(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Last IP:</td>
      <td><span>{{form.last_ip(style="width: 200px;")}}</span></td>
      <td>Secret Question:</td>
      <td><span>{{form.secret_question(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Secret Answer:</td>
      <td><span>{{form.secret_answer(style="width: 200px;")}}</span></td>
      <td>Validation Code:</td>
      <td><span>{{form.validation_code(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Status:</td>
      <td><span>{{form.status(style="width: 200px;")}}</span></td>
    <td>Personal Text:</td><td><span>{{form.personal_text(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td>Confirm Email:</td>
      <td><span>{{form.confirm_email(style="width: 200px;")}}</span></td>
    </tr>
  </table>
  <input class="btn-b" type=submit name="Update" value="Update">
</form>
{% else %}
    <p>You need to be <a href="/login/" target="blank"><strong>logged in</strong></a> to subscribe.</p>
{% endif %}
{% endblock %}
