{% extends "base.html" %}
{% block body %}
<html>
<h1>Admin Home</h1>
    {% from "_formhelpersadmin.html" import render_field %}
    <hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
<form method=post action="/adminhome">
    <input type="hidden" name="sub" value="user" />
    {{form.hidden_tag()}}
    {{ form.csrf_token }}
   <span class= "col c7">
   {{ render_field(form.email) }} Edit User Data<br>
   {{ render_field(form.nickname) }} Edit User Data <br>
   {{ render_field(form.post) }} Edit Post By Number <br>
   {{ render_field(form.venue) }}   Edit Venue Information <br>
   {{ render_field(form.comment) }} Edit Comments by number <br>
   {{ render_field(form.group) }} Edit Group Graph</span>
   <input class="btn-b" type=submit name="Submit" value="submit">
</form>
{% else %}
            <p>You need to be <a href="/login/" target="blank"><strong>logged in</strong></a> to subscribe.</p>
        {% endif %}
{% endblock %}

</html>
{% endblock %}
