<!-- extend base layout -->
{% extends "base.html" %}
{% block body %}
{% from "_formhelpersbare.html" import render_field %}
<!-- here is the sample calculate script -->

<script type="text/javascript">
    "use strict";
function groupCheck() {
    var element = this;
    $.getJSON($SCRIPT_ROOT + '/_groupchoice', {a: element.id},
        function (data) {
        $("#grouptbody").replaceWith(data.result);
    });
    $('#postgroup').val(element.id);
    return false;
};
</script>

<script type="text/javascript">
    "use strict";
     $(document).on('click', ".grouplink", groupCheck);
</script>

<h1 style ="padding:60px 0px 0px 0px;">Edit Post Event</h1>
<form action="/adminpost" method="post">

Post Number: &nbsp;&nbsp;{{ render_field(form.postnum) }}
Post User ID:&nbsp;&nbsp;{{ form.user_id }}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
<!-- Main Form layout                                      --------------------                          -->

    {{form.hidden_tag()}}

  <div>
    <fieldset class="bakfa"><!-- Event Time -->
      <legend>Event Time</legend>
      <div style="font-size:smaller">Enter the Start time, default for end is one hour later</div>

      <div class="content">
        <div class="row">
          <table>
            <thead>
              <tr>
                <td></td>
                <td>Year:</td>
                <td>Month:</td>
                <td>Day:</td>
                <td>Hour:</td>
                <td>Minute:</td>
              </tr>
            </thead>
            <tr>
              <td>Start:</td>
              <td>{{ form.startyr }}</td>
              <td>{{ form.startmth }}</td>
              <td>{{ form.startday }}</td>
              <td>{{ form.starthr }}</td>
              <td>{{ form.startmin }}</td>
            </tr>
            <tr>
              <td>End:</td>
              <td>{{ form.endyr }}</td>
              <td>{{ form.endmth }}</td>
              <td>{{ form.endday }}</td>
              <td>{{ form.endhr }}</td>
              <td>{{ form.endmin }}</td>
            </tr>
          </table>
        </div>
        <!--<div class="btn btn-b btn-sm flleft"><a href="/hiking" title="Add an additional date for your event if it repeats">Add Repeat Date</a></div>   -->
      </div>
      <table>
        <tr>
        <td>Venue Name:</td><td>{{ render_field(form.vname) }}</td>
        </tr>
        <tr>
        <td>Street Address:</td><td>{{ render_field(form.vaddress) }}</td>
        </tr>
        <tr>
        <td>City:</td><td>{{ render_field(form.vcity) }}</td>
        </tr>
        <tr>
        <td>Email:</td><td>{{ render_field(form.vemail) }}</td>
        </tr>
        <tr>
        <td>Phone:</td><td>{{ render_field(form.vphone) }}</td>
        </tr>
      </table>
    </fieldset>

    <fieldset class="bakfa">   <!--   Contact Info         -->
      <legend>Contact Info</legend>
      <table>
        <tr>
        <td>Nickname:</td><td>{{ render_field(form.cname) }}</td>
        </tr>
        <tr>
        <td>Email:</td><td>{{ render_field(form.cemail) }}</td>
        </tr>
        <tr>
        <td>Phone:</td><td>{{ render_field(form.cphone) }}</td>
        </tr>
      </table>
      <!--<div class="bakfa">
        {{ form.relay }}
      </div>
      -->
    </fieldset>

    <fieldset class="bakfa"><legend>Group Type</legend><!--   Group Type       -->
      <table id="grouptable">
        <tbody id="grouptbody">
          <tr>
            {% for bb in gbut %}
              <td style="font-size:7.00pt;"><img class="grouplink" id="{{bb}}" src="/static/images/buttons/{{bb}}.png" title="{{bb}}" />{{bb}}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      Group:<br>
      {{form.postgroup}}
    </fieldset>

    <fieldset class="bakfa">
      <legend>Post</legend><!--   Post Info         -->
      <div>
        Post Title:&nbsp&nbsp{{ form.posttitle(style="width: 400px;")}}

        {% if role is greaterthan 5 %}
            Image:&nbsp;&nbsp;{{ render_field(form.image)}}<br>
            PDF Brochure:&nbsp;&nbsp;{{ render_field(form.pdfbrochure) }}
            Website URL:&nbsp;&nbsp;{{ render_field(form.externalwebsite) }}<br>
        {% else %}
            Custom Image:, PDF Brochure:, Website Link (premium subscription)<br>
        {% endif %}

        Post Body:<br>
        {{ form.postbody(rows = 7, cols = 120) }}
      </div>
    </fieldset>
    <div class='btn btn-b'><input type="submit" value="Submit" /></div>
  </div>
</form>

<script>
$( "#postgroup" ).autocomplete({
select: function( event, ui ) {
    $.getJSON($SCRIPT_ROOT + '/_groupchoice', {a: ui.item.label},
        function (data) {
        $("#grouptbody").replaceWith(data.result);
    });
    },
  minLength: 2,
  source: [ "abortion","academies","accountant","accounting","accupressure","acronism","acting","activism",
"acupuncture","addiction","adjusters","adult","advertising","advocacy","aerobics","aesthetics","affection",
"agriculture","aircraft","airline","airplane","airport","alcohol","allergy","alliance","almanac","alternative",
"amusement","anglican","anglican_catholic","animal","animation","anthropology","antique","apostolic","apparitions",
"archaeology","archery","archetecture","archives","arena","aromatherapy","art","arts","asia","assisted_living",
"associations","astrology","atheletic","attorney","attractions","auction","audio","auditorium","auto",
"automatedteller","automobile","automobile_racing","aviation","baby","backpack","badminton","bag","baker",
"bakery","ballet","band","bank","bankorcreditunion","bankruptcy","baptist","bar","barber","bars","baseball",
"basketball","beach","beading","beauty","beautysalon","beekeeping","beer","beverage","bicycle","bike",
"billiards","bingo","biology","birdwatching","birth_control","bistro","black_tie","blood","blood_donor",
"boat","boating","book","boutique","boxing","boy","bread","brewery","bridal","bridge","broadcastevent",
"broker","broom","brownies","buddist","building","bullfighting","bungee","bungee_jumping","buns","business",
"businessevent","caberet","caberets","cadet","cake","camp","camping","canoe","care","cars","cartography",
"casino","cat","catholic","cats","caving","champagne","charismatic","charity","child","childcare",
"childernsevent","chinese","chiropractic","chocolate","choice","christadelphian","christian_church",
"christian_reformed_church","christian_science","christian&missionary_alliance","church","church_of_christ",
"church_of_god","church_of_the_nazerene","city","civic","civics","civicstructure","climbing","clothing","club",
"coaching","coffee","coins","collector","comedy","comedyevent","communication","community_centre","community_church",
"computer","concert","condominium","congregational_christian","consciousness","construction","continent","convention",
"cosmology","costume","country","cub_scouts","cubs","cucumbers","curling","dance","danceevent","dancing",
"daycare","dayspa","deliveryevent","dentist","diabetes","diagnostic","dictionary","directory","disabilities",
"diving","dj","doctor","dog","downtown","dreaming","dresage","dress","drink","drive_in","driving","driving_range",
"drugs","dude_ranch","eckankar","education","educationevent","elder","embroidery","emergency","employment",
"encyclopedias","entertainment","entertainment","environment","episcopal_reformed","escort","esoteric",
"esthetician","esthetics","ethics","ethnic","etiquette","evangelical","event","event_planning","extraterrestrials",
"eyes","fair","faith","family","farm","farm_vacations","farming","fashion","fastfood","federal","fencing",
"ferries","festival","figure","finance","financial","firearms","fireworks","fish","fishing","fitness","flowers",
"flowers_garden","flying","folklore","food","foodevent","football","foresquare_gospel_church","forest",
"formal_wear","fraternal","freedom","funeral","furniture","gallery","gambling","game","gaming","garbage",
"garden","genealogy","generalworks","geocaching","geography","gestalt","ghosts","girl","golf","golfer",
"gospel","government","graphology","green","group","groups","guides","gun","gym","gymnastics","hair",
"hairsalon","halloween","hauntings","health","healthclub","hermetics","hiking","hindu","history","hobby",
"hockey","holiday","home","horse","horses","hospital","hostel","hotel","housing","humanities","hunting",
"hypnotism","ice","icecream","income","index","indoor","injury","insurance","inter_denomininational",
"internetcafe","intramural","jazzercise","jehovahs_witnesses","jewelery","jewish","jobs","judaism","k-12",
"kayak","kite_flying","language","latter_day_saints","law","lawyer","learning","legal","leisure","lgbt",
"library","lions","liquor","liquour","literaryevent","location","locksmith","logic","love","luthern","magic",
"manufactured_home_owners","mapping","markets","medical","medicalclinic","medicine","mediical","mediumship",
"mennonite_brethern","menticulture","metaphysical","microphone","military","money","moslem","motel","motivation",
"motorboat","motorcycle","mountaineering","movie","museum","music","musicevent","mythology","nails","nailsalon",
"naval","nea_dance","new_thought","news","newspaper","nightclub","non_denominational","notary","nudism",
"numismatics","occult","ondemandevent","ontology","opera","optician","oracles","organizations","orienteering",
"orthodox","outdoor","palmistry","parapsychology","park","party","pedestrian","pentecostal","periodical","pets",
"pharmacy","philosophy","phrenology","physician","physiognomy","pie","place_of_worship","playgrounds","plumber",
"police","politics","pool","postoffice","poverty","presbyterian","private","prophets","province","provincial",
"psychologial_analysis","psychology","psychotropic","psycology","psyhcology","public","publicationevent",
"quakers","radio","radiostation","rangers","rationalism","realestate","recreation","recreation_centre",
"recycling","red_cross","reflexology","religion","religon","repair","retail","retirement","riding","rink",
"rod&gun","root","safety","sailing","saleevent","sales","salvation_army","school","science","scouts","scuba",
"security","selfstorage","seniors","series","service","seventh_day_adventist","sewage","sex","sheep","shiatsu",
"ship","shooting","shopping","show","sikh","singing","skateboard","skating","ski","sleep","snow","snowmobiling",
"social","socialevent","societies","society","spa","space","speculative","spelunking","spirit","spiritual",
"spiritualism","spiritualists","sport","sports","sportsevent","stadium","stage","state","stone","storage",
"store","story","subliminal","suggestion","summer","sunbathing","swimming","symphony","tax","teaching","team","technology",
"teen","teleology","telepathy","television","tennis","theatre","theatreevent","therapy","thing","tour",
"tourist","trail","travel","tv","unitarian","united","unity","university","userinteraction","vehicle","venue",
"vet","veterinarycare","visions","volition","walking","walks","water","weightloss","wheat","wilderness_survival",
"will","wine","winery","winter","witchcraft","xxx","yachting"]
});
</script>

{% else %}
    <p>You need to be <a href="/login/" target="blank"><strong>logged in</strong></a> to subscribe.</p>
{% endif %}

{% endblock %}

