
<p>Ouch from GIDOUT</p>
<p>There has been an error in an exception: {{ exception }}</p>
<p>Error String is:</p>
<p>{{ errstring }}</p>
<p>User was: {{ user }}</p>
<p>Failure was: {{ place }}</p>

<br>
<p>Cheers!</p>
