{% extends "base.html" %}
{% block body %}

<div class="marginl w3-center boxsize">
<p><span><h2>GIDOUT</h2><h1> Agreement</h1></span></p>


<p><h3>Welcome to Gidout!</h3></p>
<div class="w3-left-align">
<p>Thank You for using our products and services (“Services”). The Services are provided by Gidout (“Gidout”), located at 1516 Louise Place Victoria British Columbia Canada.<br>

By using our Services, you are agreeing to these terms. Please read them carefully.</p>

<p><h3>Using our Services</h3></p>

You must follow any policies made available to you within the Services.

<p>We at Gidout are working hard to provide you and the general public with a place to get the word out about your event.
If we both treat each other with respect, it will be much easier to add new delightful features to this website, rather than fight the crackers and trolls.
</p>

<p>Please do not misuse our Services. For example, don’t interfere with our Services or try to hack access to them. Please use the website using a browser and use the instructions that we provide.
You may use our Services only as permitted by law, including you must comply with applicable export and re-export control laws and regulations.
 We reserve the right to suspend or stop providing our Services to you if you do not comply with our terms or policies or if you are suspected of misconduct.</p>

<p>You agree that you will not attempt to hack or crack this site, and we will agree to not share your information to third parties unless necessary by law.</p>
<p>Gidout is a site for events, NOT ADVERTISING. Sales events at retail businesses are ok. Posts that are deemed just advertising will be removed. </p>
</div>
</div>


{% endblock %}





