{% extends "base.html" %}
{% block body %}
<html>
    <h1>All Posts</h1>
    {% from "_formhelpers.html" import render_field %}
    <hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
<div class="marginl">These are the most recent 500 posts<br>
  <hr>
  <table>
    <tr>
      <th>ID</th>
      <th>Post Title</th>
      <th>Venue Name</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
    {% for tst in txtlist %}
    <tr class="{{ loop.cycle('bake', 'bakf') }}">
      <td class="m1 font12 bor bak5"><a href="{{tst[0]}}">{{tst[0]}}</a></td>
      <td>{{tst[1]}}</td>
      <td>{{tst[2]}}</td>
      <td>{{tst[3]}}</td>
      <td>{{tst[4]}}</td>
      <td>{{tst[5]}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<form method=post action="/useredit">
    {{form.hidden_tag()}}
    {{ form.csrf_token }}
    <hr>
</form>
{% else %}
    <p>You need to be <a href="/login/" target="blank"><strong>logged in</strong></a> to list your posts.</p>
{% endif %}
{% endblock %}
