<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>GidOut - {{title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="/static/images/frank.png"/>
  <link rel="stylesheet" type="text/css" href="/static/css/dropzone.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/w3g.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"/>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135951250-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-135951250-1');
  </script>
</head>

<body>
<div class="margintopneg w3-content">
  <div class="w3-content w3-top bakfa">
    <div class="w3-col m2 bakfa">
      <a href="/home" ><img src="/static/images/weblogo.png" class="homeimg" alt="home" title="home" /></a>
      Events in Victoria
    </div>
    <!-- This is the navigation section -->
    <div id="space1" class="w3-col m1">&nbsp;</div>
    <div class="w3-col m3">
      <form action="/postsearch">
        <div>
          <input type="text" id="search" name="search" title="search" placeholder = "search"/>
          <input type="submit" style="display:none;" />
        </div>
      </form>
      <a class="w3-button floatl padsm" href="/post">post</a>
      <div class="w3-dropdown-hover floatr">
        {% if current_user.is_authenticated %}
        <button class="w3-button padsm">{{ current_user.nickname }}</button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/myposts" class="w3-bar-item w3-button">My Posts</a>
            <a href="/useredit" class="w3-bar-item w3-button">Account Info</a>
            <a href="/logout" class="w3-bar-item w3-button">Logout {{ current_user.nickname }}</a>
          </div>
        {% else %}
          <div class="w3-bar-item1 w3-button w3-hover-red"><a href="/login" title="Login to your account">LOGIN</a></div>
        {% endif %}
      </div>
    </div>
    <div id="space2" class="w3-col m1">&nbsp;</div>
<!--
This is the top bar icons
-->
    <div id="icons" class="w3-col m5 topbar6">
      <div class="topbarin">
        <a href="/root"><img src="/static/images/buttons/root.png" class="smimg" alt="root" title="root" /></a>
      </div>
      <div class="topbarin">
        <a href="/list"><img src="/static/images/buttons/list.png" class="smimg" alt="list" title="list" /></a>
      </div>
      <div class="topbarin">
        <a href="/venue/indoor"><img src="/static/images/buttons/venue.png" class="smimg" alt="venue" title="venue" /></a>
      </div>
      <div class="topbarin">
        <a href="/gcalendar"><img src="/static/images/buttons/calendar.png" class="smimg" alt="calendar" title="calendar" /></a>
      </div>
      <div class="topbarin">
        <a href="/about"><img src="/static/images/buttons/about.png" class="smimg" alt="about" title="about" /></a>
      </div>
      <div class="topbarin">
        <a href="/{{but[5]}}"><img src="/static/images/buttons/{{but[5]}}.png" class="smimg" alt="{{but[5]}}" title="{{but[5]}}" /></a>
      </div>
    </div>
  </div>
<!--
    This is The top row of 10 buttons
-->
  <fieldset>
    <legend>Event Group Types:</legend>
    {% if butb %}
      <div class="topcontainer w3-center">
        {% for bb in butb %}
          <div class="topcontents">
            <div>
              <a href="{{bb}}"><img src="/static/images/buttons/{{bb}}.png" class="scale" title="{{bb}}" alt="{{bb}}"/></a>
            </div>
            {{bb}}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </fieldset>
<!--
Here is where the content is
-->
{% block body %}
{% endblock %}
<!--
Content Finished
-->
  <fieldset>
    <table class="w3-table w3-center w3-content">
      <tr>
        <td class="tabbtm"><a href="/post">Post</a></td>
        <td class="tabbtm"><a href="/tos">Terms of Service</a></td>
        <td class="tabbtm"><a href="/agreement">Agreement</a></td>
        <td class="tabbtm"><a href="/privacy">Privacy</a></td>
        <td class="tabbtm"><a href="/dmca">DMCA</a></td>
        <td class="tabbtm"><a href="/contact">Contact Us</a></td>
        <td>Copyright &copy; 2014- McCarter</td>
      </tr>
    </table>
  </fieldset>
</div>
</body>
</html>
