<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GidOut - {{title}}</title>
    <link rel="stylesheet" type="text/css" href=" {{ url_for("static", filename="css/calendar.css") }} "/>
    <link rel="stylesheet" type="text/css" href=" {{ url_for("static", filename="css/w3.css") }} "/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for("static", filename="images/calendar") }}/favicon_{{ current_day }}.png" id="favicon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <div class="page-wrap marginl">
    <form action="/gcalendar" method="post">
      <div class="header">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <a href="/home" ><img src="/static/images/weblogo.png" class="homeimg" alt="home" title="home" /></a>
        <button class="form-button" name="month" value="back" alt="text" title="Previous month">&lt;</button>
        <button class="form-button" name="month" value="next" alt="text" title="Next month">&gt;</button>
        <div class="current-date">
          {{ month_name }} {{ year }}
          <input type="hidden" name="cmonth"  value="{{ month }}"/>
          <input type="hidden" name="year"  value="{{ year }}"/>
        </div>
        {% if month != current_month or year != current_year %}
          <div class="back-to-current">
            <a href="/gcalendar">back to current</a>
          </div>
        {% endif %}
      </div>
      <ul class="calendar-header">
        <li class="weekday-header">Mon</li>
        <li class="weekday-header">Tue</li>
        <li class="weekday-header">Wed</li>
        <li class="weekday-header">Thu</li>
        <li class="weekday-header">Fri</li>
        <li class="weekday-header">Sat</li>
        <li class="weekday-header">Sun</li>
      </ul>
      <ul class="calendar">
        {% for day in month_days %}   <!-- Go through the list -->
          {% if day.month != month %} <!-- Grey out other month days -->
            <li class="day othermonth"><span class="daynumber">{{ day.day }}</span></li>
          {% else %}
            <li class="day">
              {% if day.day == current_day and day.month == current_month and day.year == current_year %}    <!-- Colour today button-->
                <button class="form-button-current" name="date" value="{{ day.day }}">{{ day.day }}</button>
              {% else %}                                                                                      <!-- Grey other buttons-->
                <button class="form-button" name="date" value="{{ day.day }}">{{ day.day }}</button>
              {% endif %}
              {% if day.month > current_month or day.year > current_year %}
                <button class="form-button-post" type="submit" formaction="/post" name="posting" value="{{ day.day }}" method="post">P</button>
                {% for post in posts %}
                  {% if post[0] == day.day %}
                    <a href="/{{ post[2] }}" title="{{ post[1] }}"><img src="/static/images/calendar_thumb/{{ post[1] }}.png" alt="{{  post[1] }}"></a>
                  {% endif %}
                {% endfor %}
              {% else %}
                {% if day.day >= current_day %}
                  <button class="form-button-post" type="submit" formaction="/post" name="posting" value="{{ day.day }}" method="post">P</button>
                  {% for post in posts %}
                    {% if post[0] == day.day %}
                      <a href="/{{ post[2] }}" title="{{ post[1] }}"><img src="/static/images/calendar_thumb/{{ post[1] }}.png" alt="{{  post[1] }}"></a>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </form>
  </div>
</body>
</html>













