<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>GidOut - {{title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="/static/images/frank.png">
  <link rel="stylesheet" type="text/css" href="/static/css/w3.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"/>
  <script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
</head>

<body>
  <div class="w3-top w3-white">
    <span>
      <a class="w3-bar-item1 w3=button w3-left" href="/home"><h2>Gidout<sub><small>alpha</small></sub></h2></a>
      {% for b in but %}
      <div class="topcontents11 scale">
        <div>
          <a href={{b}}><img src="/static/images/buttons/{{b}}.png" class="w3-round scale" alt="{{b}}" title="{{b}}" /></a>
        </div>
        {{b}}
      </div>
      {% endfor %}

      <a class=" w3-right w3-button" href="/post">post</a>

      <div class="w3-dropdown-hover w3-right">
        {% if current_user.is_authenticated %}
        <button class="w3-button">{{ current_user.nickname }}</button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Soon</a>
            <a href="/useredit" class="w3-bar-item w3-button">Account Info</a>
            <a href="/logout" class="w3-bar-item w3-button">Logout {{ current_user.nickname }}</a>
          </div>
        {% else %}
          <div class="w3-bar-item1 w3-button w3-right w3-hover-red"><a href="/login" title="Login to your account">LOGINdfgdfg</a></div>
        {% endif %}
      </div>

    </span>
  </div>
<div class="topcontainer">
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ ckeditor.create() }}
    <input type="submit">
  </form>
</div>


</body>
</html>














































