{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
    "use strict";
  $(function () {
    $(document).on('click', ".grouplink", function () {
        var element = this;
        var grid = element.id
        $.getJSON($SCRIPT_ROOT + '/_groupchoice', {a: element.id},
                function (data) {
            $(element).parent().parent("#grouptbody").replaceWith(data.result);
        });
        $('#postgroup').val(element.id);
        return false;
    });
});
</script>
<link rel="stylesheet" type="text/css" href="/static/css/gidcal.css" />

 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}   

 <div  id="page-wrap" >
    Please check your email for your comfirmation link
  </div>


{% endblock %}
