{% extends "base.html" %}
{% block body %}
 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div  id="page-wrap" class="drop50" >
<form action="/contact" method="post">{{form.hidden_tag()}}
  <h2>Contact</h2>
  <table>
    <tr>
      <td> Name: </td>
      <td>{{form.username(style="width: 400px;")}}</td>
    </tr>
    <tr>
      <td> Email:
      {% if form.errors %}
        <ul class="errors">
            {% if "email" in form.errors %}
                <li> This does not look like an Email </li>
            {% endif %}
        </ul>
        {% endif %} </td> </td>
      <td>{{form.email(style="width: 400px;")}}</td>
    </tr>
    <tr>
      <td> Subject:
      {% if form.errors %}
        <ul class="errors">
            {% if "subject" in form.errors %}
                <li> You Must Have a Subject Here </li>
            {% endif %}
        </ul>
        {% endif %} </td>
      <td>{{form.subject(style="width: 400px;")}}</td>
    </tr>
    <tr>
      <td>
          Message:
        {% if form.errors %}
        <ul class="errors">
            {% if "message" in form.errors %}
                <li> You Must Have a Message Here </li>
            {% endif %}
        </ul>
        {% endif %}
      </td>
      <td>
        {{ form.message(rows = 7, cols = 120) }}
      </td>
    <tr>
      <td></td>
      <td><input id="submit" name="submit" type="submit" value="Send" action="/contact"></td>
    </tr>
  </table>
</form>
</div>


{% endblock %}
