<!-- extend base layout -->
{% extends "base.html" %}

{% block body %}
{% from "_formhelpers.html" import render_field %}
<h1>Please enter your Data to Register on the Database</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form style="color:#444;background:#bbc" action="{{ url_for('entry.dataenter') }}" method="post" name="entry" enctype="multipart/form-data">
   {{form.hidden_tag()}}
   {{ form.csrf_token }}<br>
   
      <dl> 
        {{ render_field(form.username) }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.initial) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.address) }}
        {{ render_field(form.city) }}
        {{ render_field(form.state_prov) }}
        {{ render_field(form.country) }}
        {{ render_field(form.postalcode) }}
        {{ render_field(form.phone) }}
        {{ render_field(form.fax) }}
        {{ render_field(form.email) }}
        {{ render_field(form.uploads) }}
</dl> 
   
    <p><input class="btn btn-a  flleft" type="submit" value="Enter"></p>
</form>



{% endblock %}
