<!-- extend base layout -->
{% extends "base.html" %}
{% block body %}

<h1>{{name}}</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="w3-row">
  <div class="w3-col m12">
    <table  class="w3-table">
      <tr>
        <td>Venue Type:</td>
        <td>{{vtype}}</td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>{{street}},&nbsp;{{city}}</td>
      </tr>
      <tr>
        <td>Post Code</td>
        <td><time>{{postalcode}}</time></td>
      </tr>
      <tr>
        <td>Phone 1:</td>
        <td><time>{{phone1}}</time></td>
      </tr>
      <tr>
        {% if phone2 != "" %}
          <td>Phone2:</td>
          <td>{{phone2}}</td>
        {% endif %}
      </tr>
      <tr>
      {% if fax != "" %}
        <td>Fax:</td>
        <td>{{fax}}</td>
      {% endif %}
      </tr>
      <tr>
        {% if email != "" %}
          <td>Email:</td>
          <td>{{email}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if lodging != "" %}
          <td>Lodging:</td>
          <td>{{lodging}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if meeting_rooms != "" %}
          <td>Meeting Rooms:</td>
          <td>{{meeting_rooms}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if room_size != "" %}
          <td>Room Size:</td>
          <td>{{room_size}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if vip_service != "" %}
          <td>VIP Service:</td>
          <td>{{vip_service}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if other_services != "" %}
          <td>Other Services:</td>
          <td>{{other_services}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if max_occupancy != "" %}
          <td>Max Occupancy:</td>
          <td>{{max_occupancy}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if audio != "" %}
          <td>Audio:</td>
          <td>{{audio}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if visual != "" %}
          <td>Visual:</td>
          <td>{{visual}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if lighting != "" %}
          <td>Lighting:</td>
          <td>{{lighting}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if stage != "" %}
          <td>Stage:</td>
          <td>{{stage}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if dance != "" %}
          <td>Dance:</td>
          <td>{{dance}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if dressing_rooms != "" %}
          <td>Dressing Rooms:</td>
          <td>{{dressing_rooms}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if business_centre != "" %}
          <td>Business Centre:</td>
          <td>{{business_centre}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if internet != "" %}
          <td>Internet:</td>
          <td>{{internet}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if storage != "" %}
          <td>Storage:</td>
          <td>{{storage}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if loading_dock != "" %}
          <td>Loading Dock:</td>
          <td>{{loading_dock}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if showers != "" %}
          <td>Showers:</td>
          <td>{{showers}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if airconditioning != "" %}
          <td>Air Conditioning:</td>
          <td>{{airconditioning}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if handicap != "" %}
          <td>Handicap:</td>
          <td>{{handicap}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if parking != "" %}
          <td>Parking:</td>
          <td>{{parking}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if food_service != "" %}
          <td>Food Service:</td>
          <td>{{food_service}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if kitchen != "" %}
          <td>Kitchen:</td>
          <td>{{kitchen}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if dining_room != "" %}
          <td>Dining Room:</td>
          <td>{{dining_room}}</td>
        {% endif %}
      </tr><tr>
        {% if bar != "" %}
          <td>Bar:</td>
          <td>{{bar}}</td>
        {% endif %}
      </tr><tr>
        {% if licence != "" %}
          <td>Licence:</td>
          <td>{{licence}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if price != "" %}
          <td>Price:</td>
          <td>{{price}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if body != "" %}
        <fieldset class="w3-col m12 w3-left-align">
          <legend>Venue:</legend>
          {{ body | safe }}
        </fieldset>
        {% endif %}
      </tr>
      <tr>
        {% if pdffile %}
          <td><a href="{{pdffile}}">PDF Brochure:</a></td>
        {% endif %}
      </tr>
    </table>
  </div>
</div>
{% endblock %}

