<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gidout Drop Image</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/css/dropzone.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/w3g.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/dropzone.js"></script>
</head>
<body>
<h1>Add Your Images Here</h1>

<form action="/upload_pic" method="post" class="dropzone" id="myDropzone" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="hidden" id="tracker" name="tracker" value="{{ tracker }}"/>
  <div class="dropzone-previews"></div>
</form>
  <button id="upload-btn">Upload</button>
<a href="JavaScript:window.close()"><button>Cancel</button></a>
<script>
    Dropzone.options.myDropzone = {
        init: function() {
            dz = this;
            document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();
        });  // custom init code
        this.on("queuecomplete", function(file) {
          /*alert("Uploaded");*/
          // Called when all files in the queue finish uploading.
          window.close();
      });
        },
          // click upload options
          uploadMultiple: true,
          parallelUploads: 20,
          paramName: "file", // The name that will be used to transfer the file
          maxFilesize: 4, // MB
          acceptedFiles: "image/*",
          maxFiles: 12,
          dictDefaultMessage: `Drop upto 12 image files here or click to open a selector.`, // message display on drop area
          dictFallbackMessage: "Your browser does not support drag'n'drop file uploads.",
          dictInvalidFileType: "You can't upload files of this type.",
          dictFileTooBig: "File is too big {{filesize}}. Max filesize: {{maxFilesize}}MiB.",
          dictResponseError: "Server error: {{statusCode}}",
          dictMaxFilesExceeded: "You can't upload any more files.",
          autoProcessQueue: false,
          addRemoveLinks: true,
          parallelUploads: 20,
        };
</script>
<script>
    var elem = document.getElementById('tracker');
    window.onunload = function (e) {
      /*alert('dropimage unloading');*/
      /*alert(tracker);*/
      opener.childcall(elem.value);
    };
</script>
</body>
</html>













