
<p><a href="https://www.gidout.com">Welcome! To GIDOUT</a></p>
<p>Thank You for purchasing a one month payment for our service.</p>
<p>This email that is registered with Paypal is different than the one used on the Gidout account that has recieved this credit.</p>
<p>If there is an error please contact us at disputes@gidout.com</p>
<p>If all is well and there is not an error then please disregard this letter.</p>
<p>We will do our best to make this a happy and satisfactory experience!</p>
<p>Please quote the transaction id {{txnid}}</p>

<br>
<p>Cheers! admin@gidout.com</p>
