{% extends "base.html" %}
{% block body %}



<div class="topcontainer1 boxsize bakfa">
  <div class="w3-img w3-center">
    {% if image %}
      <div style="font-size:10.00pt;"><a href={{postgroup}}><img src="{{ image }}" title="{{postgroup}}" style="max-height:600px;max-width:1000px;"/></a></div>
    {% else %}
      <div style="font-size:10.00pt;"><a href={{postgroup}}><img src="/static/images/group/{{postgroup}}.png" title="{{postgroup}}" /></a></div>
    {% endif %}
  </div>
<!--
  {% if current_user.is_authenticated %}
    <span>&nbsp;{{karma}}&nbsp;<button class="btn btn-sm btn-b">K+</button></span>
    {% else %}
    &nbsp;{{karma}}&nbsp;
  {% endif %}
-->

  <h2 class=" w3-center">{{ posttitle }}</h2>

  {% if edit != "" %}
    <form method="POST" action="/editpost">
      {{ form.csrf_token }}
      <input type="hidden" name="postnum" value="{{ postnum }}" />
        <input type="submit" value="Edit" name="edit" />
    </form>
  {% endif %}
  {% if promote == True %}
    <span>
      <button class="btnpromote" class="btn btn-primary btn-block" type="button" name='0' >Pro1</button>
      <button class="btnpromote" class="btn btn-primary btn-block" type="button" name='1' >Pro2</button>
      <button class="btnpromote" class="btn btn-primary btn-block" type="button" name='2' >Pro3</button>
      <button class="btnpromote" class="btn btn-primary btn-block" type="button" name='3' >Pro4</button>
      <button class="btnpromote" class="btn btn-primary btn-block" type="button" name='4' >Pro5</button>
      <button class="btnpromote" class="btn btn-primary btn-block" type="button" name='5' >Pro6</button>
      <button class="btnpromote" class="btn btn-primary btn-block" type="button" name='6' >Pro7</button>
    </span><br>
  {% endif %}

  <div class="w3-row">
    <div class="w3-col m6">
      <table  class="w3-table">
        <tr>
          <td>Age Group:</td>
          <td>{{agegroup}}</td>
        </tr>
        <tr>
          <td>Location:</td>
          <td>{{venuename}}</td>
        </tr>
        <tr>
         <td>Address:</td>
         <td>{{venueaddress}}</td>
        </tr>
        <tr>
          <td>Start Time:</td>
          <td><time>{{start}}</time></td>
        </tr>
        <tr>
          <td>End Time:</td>
          <td><time>{{end}}</time></td>
        </tr>
        <tr>
        {% if contact != "" %}
          <td>Contact:</td>
          <td>{{contact}}</td>
        {% endif %}
        </tr>
        <tr>
          {% if contactemail != "" %}
            <td>Contact Email:</td><td>{{contactemail}}</td>
          {% endif %}
        </tr>
        <tr>
          {% if contactphone != "" %}
            <td>Contact Phone:</td>
            <td>{{contactphone}}</td>
          {% endif %}
        </tr>
        <tr>
          <td>Price:</td>
          <td>{{price}}</td>
        </tr>
        <tr>
          {% if pdffile %}
            <td><a href="{{pdffile}}">PDF Brochure:</a></td>
          {% endif %}
        </tr>
        <tr>
          {% if weblink %}
            <td><a href="{{weblink}}">Web Link:</a></td>
          {% endif %}
        </tr>
      </table>
    </div>
    <div class="w3-col m6">
      <div id="map">
        {{ frame | safe }}
      </div>
    </div>
    <fieldset class="w3-col m12 w3-left-align">
      <legend>Post:</legend>
        {{ body | safe }}
    </fieldset><br>
  </div>
</div>
<script type=text/javascript>
        var data = $(this).attr('name');
        $( ".btnpromote" ).click(function() {
            var data = $(this).attr('name');
            $.get( "/_promote",{ name: "{{ gevent }}", param: data },
            function(){alert('Completed Promoting')} );
            $('.btnpromote').remove()
        });
</script>

{% endblock %}




















