{% extends "base.html" %}
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!--
    This is The Carosel
-->
<section class="w3-section w3-light-grey">
  <div class="w3-container w3-center">
      <h4><strong>Gidout of the House and Connect with Others</strong></h4>
    <div class="padsm">
      <div class="w3-col w3-quarter">
        <a id="pic1" href="https://www.tracksellingonline.com"><img class="imgad" src="/static/images/adimage/maxsacks_nov17.png" alt="Max Sacks International" /></a>
      </div>
      <div class="w3-col w3-half  w3-center">
        <a href="{{carolink[0]}}"><img class="mySlides maxh260 w3-col" src={{ caroimage[0] }} title="{{carousel[0]}}" alt="{{carousel[0]}}"/></a>
        <a href="{{carolink[1]}}"><img class="mySlides maxh260 w3-col" src={{ caroimage[1] }} title="{{carousel[1]}}" alt="{{carousel[1]}}"/></a>
        <a href="{{carolink[2]}}"><img class="mySlides maxh260 w3-col" src={{ caroimage[2] }} title="{{carousel[2]}}" alt="{{carousel[2]}}"/></a>
        <a href="{{carolink[3]}}"><img class="mySlides maxh260 w3-col" src={{ caroimage[3] }} title="{{carousel[3]}}" alt="{{carousel[3]}}"/></a>
        <a href="{{carolink[4]}}"><img class="mySlides maxh260 w3-col" src={{ caroimage[4] }} title="{{carousel[4]}}" alt="{{carousel[4]}}"/></a>
        <a href="{{carolink[5]}}"><img class="mySlides maxh260 w3-col" src={{ caroimage[5] }} title="{{carousel[5]}}" alt="{{carousel[5]}}"/></a>
        <a href="{{carolink[6]}}"><img class="mySlides maxh260 w3-col" src={{ caroimage[6] }} title="{{carousel[6]}}" alt="{{carousel[6]}}"/></a>
      </div>
      <div class="w3-col w3-quarter padsm">
        <a id="pic2" href="https://www.metaphysicalacademy.com"><img  class="imgad" src="/static/images/adimage/metaphysical_nov17.png" alt="International Metaphysical Academy" /></a>
      </div>
    </div>
  </div>
</section>
<!--
    This is The top 8
-->
<section class="w3-section w3-light-grey">
  <h6>Random Eight Events</h6>
  <div class="w3-row">
    <div class="w3-col m3 w3-center padsm" itemscope itemtype="http://schema.org/{{schema[0]}}">
        <a href="{{topid[0]}}"><img class="w3-image" src="{{pic[0]}}" title="{{topgroup[0]}}" alt="{{topgroup[0]}}"/></a>
        <div class="toptitle"><a href="{{topid[0]}}">{{toptitle[0]}}</a></div>
        <div class="topvenue">{{topvenue[0]}}</div>
        <div class="toptitle">{{toptime[0]}}</div>
        <div class="topcontentstext">{{toppost[0]}}</div>
    </div>
    <div class="w3-col m3 w3-center padsm" itemscope itemtype="http://schema.org/{{schema[1]}}">
        <a href="{{topid[1]}}"><img class="w3-image" src="{{pic[1]}}" title="{{topgroup[1]}}" alt="{{topgroup[1]}}"/></a>
        <div class="toptitle"><a href="{{topid[1]}}">{{toptitle[1]}}</a></div>
        <div class="topvenue">{{topvenue[1]}}</div>
        <div class="toptitle">{{toptime[1]}}</div>
        <div class="topcontentstext">{{toppost[1]}}</div>
    </div>
    <div class="w3-col m3 w3-center padsm" itemscope itemtype="http://schema.org/{{schema[2]}}">
        <a href="{{topid[2]}}"><img class="w3-image" src="{{pic[2]}}" title="{{topgroup[2]}}" alt="{{topgroup[2]}}"/></a>
        <div class="toptitle"><a href="{{topid[2]}}">{{toptitle[2]}}</a></div>
        <div class="topvenue">{{topvenue[2]}}</div>
        <div class="toptitle">{{toptime[2]}}</div>
        <div class="topcontentstext">{{toppost[2]}}</div>
    </div>
    <div class="w3-col m3 w3-center padsm" itemscope itemtype="http://schema.org/{{schema[3]}}">
        <a href="{{topid[3]}}"><img class="w3-image" src="{{pic[3]}}" title="{{topgroup[3]}}" alt="{{topgroup[3]}}"/></a>
        <div class="toptitle"><a href="{{topid[3]}}">{{toptitle[3]}}</a></div>
        <div class="topvenue">{{topvenue[3]}}</div>
        <div class="toptitle">{{toptime[3]}}</div>
        <div class="topcontentstext">{{toppost[3]}}</div>
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-col m3 w3-center padsm" itemscope itemtype="http://schema.org/{{schema[4]}}">
        <a href="{{topid[4]}}"><img class="w3-image" src="{{pic[4]}}" title="{{topgroup[4]}}" alt="{{topgroup[4]}}"/></a>
        <div class="toptitle"><a href="{{topid[4]}}">{{toptitle[4]}}</a></div>
        <div class="topvenue">{{topvenue[4]}}</div>
        <div class="toptitle">{{toptime[4]}}</div>
        <div class="topcontentstext">{{toppost[4]}}</div>
    </div>
    <div class="w3-col m3 w3-center padsm" itemscope itemtype="http://schema.org/{{schema[5]}}">
        <a href="{{topid[5]}}"><img class="w3-image" src="{{pic[5]}}" title="{{topgroup[5]}}" alt="{{topgroup[5]}}"/></a>
        <div class="toptitle"><a href="{{topid[5]}}">{{toptitle[5]}}</a></div>
        <div class="topvenue">{{topvenue[5]}}</div>
        <div class="toptitle">{{toptime[5]}}</div>
        <div class="topcontentstext">{{toppost[5]}}</div>
    </div>
    <div class="w3-col m3 w3-center padsm" itemscope itemtype="http://schema.org/{{schema[6]}}">
        <a href="{{topid[6]}}"><img class="w3-image" src="{{pic[6]}}" title="{{topgroup[6]}}" alt="{{topgroup[6]}}"/></a>
        <div class="toptitle"><a href="{{topid[6]}}">{{toptitle[6]}}</a></div>
        <div class="topvenue">{{topvenue[6]}}</div>
        <div class="toptitle">{{toptime[6]}}</div>
        <div class="topcontentstext">{{toppost[6]}}</div>
    </div>
    <div class="w3-col m3 w3-center padsm" itemscope itemtype="http://schema.org/{{schema[7]}}">
        <a href="{{topid[7]}}"><img class="w3-image" src="{{pic[7]}}" title="{{topgroup[7]}}" alt="{{topgroup[7]}}"/></a>
        <div class="toptitle"><a href="{{topid[7]}}">{{toptitle[7]}}</a></div>
        <div class="topvenue">{{topvenue[7]}}</div>
        <div class="toptitle">{{toptime[7]}}</div>
        <div class="topcontentstext">{{toppost[7]}}</div>
    </div>
  </div>
</section>

<!--
    This is The rest of the events
-->

<section>
  <h6>Todays Events</h6>
  <table class="w3-table w3-striped font7">
    {% for tst in tstlist %}
      <tr>
        <td class="m1 font12 bor" itemscope itemtype="http://schema.org/{{tst[7]}}"></td>
        <td><div><a href="{{tst[3]}}"><img class="imgbutmax" src="{{tst[6]}}" alt="{{tst[0]}}" title="{{tst[0]}}" /></a></div>{{tst[0]}}</td>
        <td class="font12"><a href="{{tst[3]}}" title="{{tst[2]}}"><b>{{tst[2]}}</b>  </a>&nbsp;({{tst[4]}})&nbsp;&nbsp;{{tst[1]}}</td>
      </tr>
    {% endfor %}
  </table>
</section>

<script>
  var myIndex = 0;
  carousel();
  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000);
  }
</script>
{% endblock %}





