{% extends "base.html" %}
{% block body %}
    
<body>
<article>
 <section>
   <section>
     <button>reply <span class="envelope">&#9993;</span> <span class="phone">&#9742;</span></button>
     <p>Posted: <time datetime="2014-11-22T19:46:36-0800">2014-11-22  7:46pm</time></p>
     <span class="prevnext">
      <a>&#9664; prev</a>
      <a>&#9650;</a>
      <a> next &#9654;</a>
     </span>  
   </section>
   <h2>
     2010 Motorino XPr  - &#x0024;800 (Victoria BC)
   </h2>
   <section>
    <figure class="iw">
      <div>
        <button>&lt;</button>
        <button>&gt;</button>
    </div>
    </figure>
    <div>
      <div>
        <div data-latitude="48.413049" data-longitude="-123.371056" data-accuracy="0"></div>
          <p>
          <small>
            (<a target="_blank" href="https://maps.google.com/maps/preview/@48.413049,-123.371056,16z">google map</a>)
            (<a target="_blank" href="http://maps.yahoo.com/#mvt=m&amp;lat=48.413049&amp;lon=-123.371056&amp;zoom=16">yahoo map</a>)
          </small>
          </p>
      </div>
      <p><span>condition: <b>good</b></span></p><p class="attrgroup"><span><b>2010</b></span> <span>odometer: <b>3237</b></span> <span>VIN: N/A</span>  <span>paint color : <b>green</b></span> <span>fuel : <b>electric</b></span> <span>transmission : <b>other</b></span></p>      
    </div>
    <ul><li>do NOT contact me with unsolicited services or offers</li></ul>
    <div>
      <p>post id: 4774144892</p>
      <p>posted: <time datetime="2014-11-22T19:46:36-0800">2014-11-22  7:46pm</time></p>
      <p>updated: <time datetime="2014-11-23T11:26:42-0800">2014-11-23 11:26am</time></p>
      <p><a href="https://post.craigslist.org/flag?flagCode=9&amp;postingID=4774144892&amp;" title="nominate for best-of-CL"><span class="bestof">&hearts; </span><span class="bestoftext">best of</span></a> <sup>[<a href="http://www.craigslist.org/about/best-of-craigslist">?</a>]</sup>
      </p>
    </div>
   </section>
   <aside>
     <p><a href="//www.craigslist.org/about/scams">Avoid scams, deal locally</a>
     <em>Beware wiring (e.g. Western Union), cashier checks, money orders, shipping.</em>
     <br>
   </aside>
  </section>
  <footer>
    <ul class="clfooter">
        <li>&copy; 2014 <span class="desktop">craigslist</span><span class="mobile">CL</span></li>
        <li><a href="//www.craigslist.org/about/help/">help</a></li>
        <li><a href="//www.craigslist.org/about/scams">safety</a></li>
        <li class="desktop"><a href="//www.craigslist.org/about/privacy.policy">privacy</a></li>
        <li class="desktop"><a href="https://forums.craigslist.org/?forumID=8">feedback</a></li>
        <li class="desktop"><a href="//www.craigslist.org/about/craigslist_is_hiring">cl jobs</a></li>
        <li><a href="//www.craigslist.org/about/terms.of.use">terms</a></li>
        <li><a href="//www.craigslist.org/about/">about</a></li>
        <li class="fsel desktop linklike" data-mode="mobile">mobile</li>
        <li class="fsel mobile linklike" data-mode="regular">desktop</li>
    </ul>
  </footer>
</article>

{% endblock %}
