{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
    "use strict";
  $(function () {
    $(document).on('click', ".grouplink", function () {
        var element = this;
        var grid = element.id
        $.getJSON($SCRIPT_ROOT + '/_groupchoice', {a: element.id},
                function (data) {
            $(element).parent().parent("#grouptbody").replaceWith(data.result);
        });
        $('#postgroup').val(element.id);
        return false;
    });
});
</script>

<div class="w3-center">
  {% for j in range( length) %}
  {% set k = loop.index0 %}
  <div class="topcontainer1">
    {% for i in range(10) %}
    <div class="topcontents">
    {% if output[k * 10 + i] %}
      <div>
        <a href="{{ output[k * 10 + i] }}"><img src="/static/images/buttons/{{output[k * 10 + i]}}.png" class="scale" title="{{output[k * 10 + i ]}}"/></a>
      </div>
     {{output[k * 10 + i]}}
    {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>


{% endblock %}
