
<!-- extend base layout -->
{% extends "base.html" %}

{% block body %}
{% from "_formhelpers.html" import render_field %}
<h1>Posts</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div>
  <table>
    <td><div class="btn btn-b btn-sm"><a href="/meet" title="Meet"><</a></div></td>
    <td>February 2015fdsfsdf</td>
    <td><div class="btn btn-b btn-sm"><a href="/meet" title="Meet">></a></div></td>
  </table>
  <table>
    <tbody><!-- Table body of calendar -->
    <tr>
      <th>S</th>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
    </tr>
    <tr>
      <td>
        <div>&nbsp;</div>
      </td>
      <td>
        <div>&nbsp;</div>
      </td>
      <td>
        <div>&nbsp;</div>
      </td>
      <td>
        <div> 1 </div>
      </td>
      <td>
        <div> 2 </div>
      </td>
      <td>
        <div><a href="http://metaphysicalacademy.com/calendar-date/2014-10-03">3</a></div>
      </td>
      <td>
        <div><a href="http://metaphysicalacademy.com/calendar-date/2014-10-04">4</a></div>
      </td>
    </tr>
    <tr>
      <td>
        <div> 5 </div>
      </td>
      <td>
        <div> 6 </div>
      </td>
      <td>
        <div> 7 </div>
      </td>
      <td>
        <div> 8 </div>
      </td>
      <td>
        <div> 9 </div>
      </td>
      <td>
        <div><a href="http://metaphysicalacademy.com/calendar-date/2014-10-10">10</a></div>
      </td>
      <td>
        <div> 11 </div>
      </td>
    </tr>
    <tr>
      <td>
        <div><a href="http://metaphysicalacademy.com/calendar-date/2014-10-12">12</a></div>
      </td>
      <td>
        <div> 13 </div>
      </td>
      <td>
        <div> 14 </div>
      </td>
      <td>
        <div> 15 </div>
      </td>
      <td>
        <div> 16 </div>
      </td>
      <td>
        <div> 17 </div>
      </td>
      <td>
        <div> 18 </div>
      </td>
    </tr>
    <tr>
      <td>
        <div> 19 </div>
      </td>
      <td>
        <div> 20 </div>
      </td>
      <td>
        <div> 21 </div>
      </td>
      <td>
        <div> 22 </div>
      </td>
      <td>
        <div> 23 </div>
      </td>
      <td>
        <div> 24 </div>
      </td>
      <td>
        <div> <a href="http://metaphysicalacademy.com/calendar-date/2014-10-25">25</a></div>
      </td>
    </tr>
    <tr>
      <td>
        <div> 26 </div>
      </td>
      <td>
        <div> 27 </div>
      </td>
      <td>
        <div> 28 </div>
      </td>
      <td>
        <div> 29 </div>
      </td>
      <td>
        <div> 30 </div>
      </td>
      <td>
        <div><a href="http://metaphysicalacademy.com/calendar-date/2014-10-31">31</a></div>
      </td>
      <td>
        <div>&nbsp;</div>
      </td>
    </tr>
  </tbody>
  </table>
</div>

 <div id="calendar"></div>
hello!!

    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/calendar.js"></script>
    <script type="text/javascript">

        var calendar = $("#calendar").calendar(
            {
                tmpl_path: "/static/",
                events_source: function () { return []; }
            });
    </script>
there!


{% endblock %}















