{% extends "base.html" %}
{% block body %}

  <!-- Top Image  -->
  <!-- Centre Image -->
<div  class="w3-center">
  <table class="center">
    <tr>
      <td><img src="/static/images/group/{{title}}.png" title="{{title}}" alt="{{title}}" height="300"; width="600" /></td>
    </tr>
  </table>
  <!-- Main Buttons up to 5 rows -->
  <div class="w3-center">
    {% for j in range( length) %}
      {% set k = loop.index0 %}
      <div class="topcontainer1">
        {% for i in range(10) %}
          {% if par[k * 10 + i] %}
            <div class="topcontents">
              <div>
                <a href="{{ par[k * 10 + i] }}"><img src="/static/images/buttons/{{par[k * 10 + i]}}.png" class="scale" title="{{par[k * 10 + i ]}}"/></a>
            </div>
          {{par[k * 10 + i]}}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
<!-- Main  8 Content  -->
<section class="w3-section w3-light-grey">
  <div class="w3-row">
    {% for tst in tstlist %}
      <div class="w3-col m3 w3-center padsm">
        <a href="{{tst[3]}}"><img class="w3-image" src={{tst[4]}} title="{{tst[0]}}" alt="{{tst[0]}}"/></a>
        <div class="toptitle"><a href="{{tst[5]}}">{{tst[5]}}</a></div>
        <div class="topvenue">{{tst[6]}}</div>
        <div class="toptitle">{{tst[2]}}</div>
        <div class="topcontentstext">{{tst[1]}}</div>
      </div>
  {% endfor %}
  </div>
  <div class="w3-row">
    {% for tst in tstlista %}
      <div class="w3-col m3 w3-center padsm">
        <a href="{{tst[3]}}"><img class="w3-image" src={{tst[4]}} title="{{tst[0]}}" alt="{{tst[0]}}"/></a>
        <div class="toptitle"><a href="{{tst[5]}}">{{tst[5]}}</a></div>
        <div class="topvenue">{{tst[6]}}</div>
        <div class="toptitle">{{tst[2]}}</div>
        <div class="topcontentstext">{{tst[1]}}</div>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Extended 30 Content  -->
<section>
  <table class="w3-table w3-striped font7">
    {% for tst in tstlistb %}
    <tr>
      <td class="m1 font12 bor"><center>{{tst[5]}}</center></td>
      <td><div><a href="{{tst[0]}}"><img src="/static/images/post/{{tst[0]}}.png" alt="{{tst[0]}}" title="{{tst[0]}}" height="60px" width="60px"></a></div>{{tst[0]}}</td>
      <td class="font12"><a href="{{tst[3]}}" title="{{tst[2]}}"><b>{{tst[2]}}</b></a>&nbsp;({{tst[4]}})&nbsp;&nbsp;&nbsp;{{tst[1]}}</td>
      <div>
    </tr>
    {% endfor %}
  </table>
</section>

{% endblock %}




