{% extends "base.html" %}
{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="marginl drop50">
  <hr>
  <table>
    <tr>
      <th>ID</th>
      <th>Post Title</th>
      <th>Venue Name</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
    {% for tst in txtlist %}
    {% if tst[0] %}
    <tr class="{{ loop.cycle('bake', 'bakf') }}">
      <td class="m1 font12 bor"><a href="{{tst[6]}}"><img src="/static/images/post/{{tst[0]}}.png" alt="{{tst[0]}}" title="{{tst[0]}}" height="60px" width="60px"></a></td>
      <td>{{tst[1]}}</td>
      <td>{{tst[2]}}</td>
      <td>{{tst[3]}}</td>
      <td>{{tst[4]}}</td>
      <td>{{tst[5]}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
{% endblock %}
