{% extends "base.html" %}
{% block body %}
 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<br>

 <div  id="page-wrap" >
    <div class="container">
        <p>Thank You for your purchase!</p>
    </div>
  </div>


{% endblock %}
