{% extends "base.html" %}
{% block body %}
 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

 <div  id="page-wrap" >
     <p>here</p>
     <p>here</p>
     <div class="container">
        {% if session['logged_in'] %}
            <form name="topaypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_xclick-subscriptions">
                <input type="hidden" name="custom" value="{{session['username']}}"/>
                <input type="hidden" name="business" value="mccarter-facilitator@uniserve.ca">
                <input type="hidden" name="item_name" value="subscription button">
                <input type="hidden" name="item_number" value="500">
                <input type="hidden" name="no_shipping" value="1">
                <input type="hidden" name="a3" value="10.00">
                <input type="hidden" name="p3" value="1">
                <input type="hidden" name="t3" value="M">
                <input type="hidden" name="src" value="1">
                <input type="hidden" name="sra" value="1">
                <input type="hidden" name="return" value="http://24.108.0.171/payment_success">
                <input type="hidden" name="cancel_return" value="http://24.108.0.171/">
                <input type="hidden" name="notify_url" value="http://24.108.0.171/ipn/">
                <input type="submit" value="Subscribe" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-primary">
            </form>
        {% else %}
            <p>You need to be <a href="/login" target="blank"><strong>logged in</strong></a> to subscribe.</p>
        {% endif %}
    </div>


    Payment
  </div>


{% endblock %}
