<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dropzone Complete with Form Upload</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="/static/css/dropzone.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  <script src="/static/js/dropzone.js"></script>
</head>
<body>
{{form.hidden_tag()}}
<h1>DropzoneJS Fresh Upload Demo</h1>
  <form action="/file_upload" enctype="multipart/form-data" method="post">
    <label for="title">Title</label>
    <input type="text" id="title" name="title"/><br>
    <label for="description">Description</label>
    <input type="text" id="description" name="description"/><br>
    <div class="dropzone" id="myDropzone"></div>
    <input type="submit" id="submit" value="Submit and Upload">
  </form>
  <a href="/place">to the place page</a>

<script>
  Dropzone.options.myDropzone = {
    init: function() {
      // redirect after queue complete
      dz = this; // Makes sure that 'this' is understood inside the functions below.
      document.getElementById("submit").addEventListener("click", function handler(e) {
            e.currentTarget.removeEventListener(e.type, handler);
            e.preventDefault();
            e.stopPropagation();
            dz.processQueue();
      });
      this.on("queuecomplete", function(file) {
        // Called when all files in the queue finish uploading.
          document.getElementById("submit").click();
      });
        // upload queue when button click
        // custom init code
    },

    url: "/upload_pic",
    autoProcessQueue: false,
    uploadMultiple: true,
    parallelUploads: 30,
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 4, // MB
    addRemoveLinks: true,
    acceptedFiles: "image/*",
    maxFiles: 30,
    dictDefaultMessage: `Drop files here or click to upload.`, // message display on drop area
    dictFallbackMessage: "Your browser does not support drag'n'drop file uploads.",
    dictInvalidFileType: "You can't upload files of this type.",
    dictFileTooBig: "File is too big {{filesize}}. Max filesize: {{maxFilesize}}MiB.",
    dictResponseError: "Server error: {{statusCode}}",
    dictMaxFilesExceeded: "You can't upload any more files.",
    // timeout
    // custom options code
  };
</script>
</body>
</html>













