<!-- extend base layout -->
{% extends "base.html" %}
{% block body %}
{% from "_formhelpersbare.html" import render_field %}
<!-- here is the sample calculate script -->
<script>
$(document).keypress(
  function(event){
    if (event.which == '13') {
      event.preventDefault();
    }
});
</script>
<script>
  "use strict";
  function groupCheck() {
    var element = this;
    $.getJSON($SCRIPT_ROOT + '/_groupchoice', {a: element.id},
        function (data) {
        $("#grouptbody").html(data.result);
    });
    $('#postgroup').val(element.id);
    return false;
  };
</script>

<script>
  "use strict";
   $(document).on('click', ".grouplink", groupCheck);
</script>

<div class="w3-content w3-center">
  <h1>Post Your Event</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
     </ul>
    {% endif %}
  {% endwith %}
  {% if current_user.is_authenticated %}
  <!-- Main Form layout   --------------------------------------------------------     -->
  <span class="w3-xlarge w3-text-red">*</span>&nbsp;&nbsp;indicates required field
  <form action="/post" method="post" enctype="multipart/form-data" name="post">
  {{form.hidden_tag()}}
    <!-- Event Time  --------------------------------------------------------------    -->
    <fieldset class="bakfa">
      <legend>Event Time and Venue</legend>
      <div class="w3-small">Enter the Start time, default for end is one hour later</div>
      <div class="w3-table">
        <div class="w3-row">
          <div class="w3-col m2 w3-padding-small">
            &nbsp;
          </div>
          <div class="w3-col m1 w3-padding-small">
            Year:
          </div>
          <div class="w3-col m1 w3-padding-small">
            Month:
          </div>
          <div class="w3-col m1 w3-padding-small">
            Day:
          </div>
          <div class="w3-col m1 w3-padding-small">
            Hour:
          </div>
          <div class="w3-col m1 w3-padding-small">
            Minute:
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col m2 w3-padding-small">
            Start:
          </div>
          <div class="w3-col m1 w3-padding-small">
            {{ form.startyr }}
          </div>
          <div class="w3-col m1 w3-padding-small">
            {{ form.startmth }}
          </div>
          <div class="w3-col m1 w3-padding-small">
            {{ form.startday }}
          </div>
          <div class="w3-col m1 w3-padding-small">
            {{ form.starthr }}
          </div>
          <div class="w3-col m1 w3-padding-small">
            {{ form.startmin }}
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col m2 w3-padding-small">
            End:
          </div>
          <div class="w3-col m1 w3-padding-small">
            {{ form.endyr }}
          </div>
          <div class="w3-col m1 w3-padding-small">
            {{ form.endmth }}
          </div>
          <div class="w3-col m1 w3-padding-small">
            {{ form.endday }}
          </div>
          <div class="w3-col m1 w3-padding-small">
            {{ form.endhr }}
          </div>
          <div class="w3-col m1 w3-padding-small">
            {{ form.endmin }}
          </div>
        </div>
      </div>
      <div>
        <div class="w3-row">
          <div class="w3-col m2 floatl">
            Venue Name:
          </div>
          <div class="w3-col m4">
            {{form.vname(style="width: 400px;")}}
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col m2">
            Street Address:
          </div>
          <div class="w3-col m4">
            {{form.vaddress(style="width: 400px;")}}
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col m2">
            City:
          </div>
          <div class="w3-col m4">
            {{form.vcity(style="width: 400px;")}}
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col m2">
            Email:
          </div>
          <div class="w3-col m4">
            {{form.vemail(style="width: 400px;")}}
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col m2">
            Phone:
          </div>
          <div class="w3-col m4">
            {{form.vphone(style="width: 400px;")}}
          </div>
        </div>
      </div>
    </fieldset>
    <!-- Contact Info  ----------------------------------------------------------   -->
    <fieldset class="bakfa">
      <legend>Contact Info</legend>
      <div class="w3-table">
        <div class="w3-row">
          <div class="w3-col m2">
            Nickname:
          </div>
          <div class="w3-col m2">
            {{form.cname(style="width: 400px;")}}
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col m2">
            Email:
          </div>
          <div class="w3-col m2">
            {{form.cemail(style="width: 400px;")}}
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col m2">
            Phone:
          </div>
          <div class="w3-col m2">
            {{form.cphone(style="width: 400px;")}}
          </div>
        </div>
      </div>
    </fieldset>

    <!-- Group Type Buttons   -->
    <fieldset class="bakfa"><legend><span class="w3-xlarge w3-text-red">*</span>Group Type</legend>
      <div id="grouptable" class="w3-table">

        <div id="grouptbody" class="w3-row">
          {% for bb in gbut %}
            <div class="w3-col m1 font7">
              <img class="grouplink" id="{{bb}}" src="/static/images/buttons/{{bb}}.png" title="{{bb}}" />{{bb}}
            </div>
          {% endfor %}
        </div>

      </div>
      <span class="w3-xlarge w3-text-red">*</span>Group:
        {{form.postgroup}}
        {% if form.errors %}
            <ul class="errors">
              {% if "postgroup" in form.errors %}
                <li> You Must Choose a Group </li>
              {% endif %}
            </ul>
          {% endif %}
    </fieldset>
{{ ckeditor.config(name='postbody') }}
<!-- Post Form layout      ---------------------------------------------------------                         -->
    <fieldset class="bakfa">
        <!-- Post Info -----------------------------------------------------------    -->
      <legend>Post</legend>
      <table class="w3-table w3-responsive">
        <tr>
          <td>
            <span class="w3-xlarge w3-text-red">*</span>Post Title:
              {% if form.errors %}
                <ul class="errors">
                  {% if "posttitle" in form.errors %}
                    <li> You Must Enter a Title </li>
                  {% endif %}
                </ul>
              {% endif %}
          </td>
          <td>
            {{ form.posttitle(style="width: 400px;") }}
          </td>
          <td>
            Age Group:
          </td>
          <td>
            {{ render_field(form.agegroup) }}
          </td>
        </tr>
        <tr>
          <td>
            Price:
          </td>
          <td>
            {{ render_field(form.price) }}
          </td>
          <td>
            Website URL:
          </td>
          <td>
            {{form.externalwebsite(style="width: 300px;")}}
          </td>
        </tr>
        <tr>
          <td>
            Image:
          </td>
          <td>
            {{ render_field(form.image)}}
          </td>
          <td>
            PDF Brochure:
          </td>
          <td>
            {{ render_field(form.pdfbrochure) }}
          </td>
        </tr>
      </table>
      {% if role is greaterthan 19 %}
        <!-- Change Form layout  This is for advanced users                                    --------------------                          -->
        <div class="w3-row">
          <div class="w3-col m12">
            <span class="w3-xlarge w3-text-red">*</span>Event Post Body 2000 characters maximum: (Shift-Enter for newline, just Enter for new paragraph)<br>
            {% if form.errors %}
              <ul class="errors">
                {% if "postbody" in form.errors %}
                  <li> You Must Have a Description Here </li>
                {% endif %}
              </ul>
            {% endif %}
            {{ ckeditor.load(pkg_type="standard") }}
            {{ ckeditor.config(custom_config="uiColor: '#9AB8F3'") }}
            {{ form.postbody }}
          </div>
        </div>
      {% else %}<!--Standard Form layout   This is for regular users                               --------------------                          -->
        <div class="w3-row">
          <div class="w3-col m12">
            <span class="w3-xlarge w3-text-red">*</span>Event Post Body 2000 characters maximum: (Shift-Enter for newline, just Enter for new paragraph)<br>
            {% if form.errors %}
              <ul class=errors>
                {% if "postbody" in form.errors %}
                  <li> You Must Have a Description Here </li>
                {% endif %}
              </ul>
            {% endif %}
            {{ ckeditor.load(pkg_type="basic") }}
            {{ ckeditor.config(custom_config="uiColor: '#aa99F3',removeButtons: 'Link,Unlink,Anchor'") }}
            {{ form.postbody }}
          </div>
        </div>
      {% endif %}
    </fieldset>
    <div>
      <input type="submit" name= "submit" value="Submit" />
      <input type="submit" name= "submit" value="Submit and Repeat" />
    </div>
    &nbsp;&nbsp;&nbsp;<span class="w3-xlarge w3-text-red">*</span>&nbsp;&nbsp;indicates required field
    <input type="hidden" name="imagefile" readonly value={{ imagefile }}>
    <input type="hidden" name="pdffile" readonly value={{ pdffile }}>
  </div>
</form>


<script>
$( "#postgroup" ).autocomplete({
select: function( event, ui ) {
    $.getJSON($SCRIPT_ROOT + '/_groupchoice', {a: ui.item.label},
        function (data) {
        $("#grouptbody").replaceWith(data.result);
    });
    },
  minLength: 2,
  source: {{ groups | safe }}
});
</script>

{% else %}
    <p>You need to be <a href="/login/" target="blank"><strong>logged in</strong></a> to post an article.</p>
{% endif %}

{% endblock %}



