{% extends "base.html" %}
{% block body %}

Hello
<section class="drop50">
  <table class="w3-table w3-striped font7">
    {% for tst in tstlistb %}
      {% if tst[0] != "" %}
      <tr>
        <td class="m1 font12 bor"></a><center>{{tst[5]}}</center></td>
        <td><div><a href="{{tst[0]}}"><img src="/static/images/post/{{tst[0]}}.png" alt="{{tst[0]}}" title="{{tst[0]}}" height="60px" width="60px"></a></div>{{tst[0]}}</td>
        <td class="font12"><a href="{{tst[3]}}" title="{{tst[2]}}"><b>{{tst[2]}}</b></a>&nbsp;({{tst[4]}})&nbsp;&nbsp;&nbsp;{{tst[1]}}</td>
        <div>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
</section>
{% endblock %}




