<!-- extend base layout -->
{% extends "base.html" %}
{% block body %}
<script src="/static/js/dropzone.js"></script>
<script>
  "use strict";
  function groupCheck() {
    var element = this;
    $.getJSON($SCRIPT_ROOT + '/_vgroupchoice', {a: element.id},
        function (data) {
        $("#grouptbody").replaceWith(data.result);
    });
    $('#vtype').val(element.id);
    return false;
  };
</script>
<script>
  "use strict";
  $(document).on('click', ".grouplink", groupCheck);
</script>

{% from "_formhelpersbare.html" import render_field %}
<div class="w3-content  ">

<h1 class="w3-center">Post New Venue</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if current_user.is_authenticated %}
<div id="upload">
  Click Here to Upload up to 12 Images:
  <a href="/dropimg" id="upload" onclick="centeredPopup(this.href,'myWindow','700','400','yes');return false"><button>Upload Images</button></a>
</div>
<!--
Form Start
-->
  <form action="/postvenue" enctype="multipart/form-data" method="post">
    {{form.hidden_tag()}}
    <div id="topimg" class="w3-row bak5"></div>
    <span class="w3-xlarge w3-text-red">*</span>&nbsp;&nbsp;indicates required field
<!--
Group Venue Type
-->
    <fieldset class="bakfa"><legend>Venue Type</legend>
      <table  id="grouptable" class="w3-table w3-responsive">
        <tbody id="grouptbody">
          <tr>
            {% for bb in gbut %}
            <td style="font-size:7.00pt;"><img class="grouplink" id="{{bb}}" src="/static/images/venue/buttons/{{bb}}.png" title="{{bb}}" />{{bb}}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      <span class="w3-xlarge w3-text-red">*</span>&nbsp;Venue Type:
      {{form.vtype}}
      {% if form.errors %}
        <ul class=errors>
            {% if "vtype" in form.errors %}
                <li> You Must Choose a Group </li>
            {% endif %}
        </ul>
        {% endif %}
    </fieldset>
<!--
Main Form Elements
-->
  <table class="w3-table w3-responsive">
    <tr>
      <td><span class="w3-xlarge w3-text-red">*</span>&nbsp;Venue Name:</td>
      <td>{{form.name(style="width: 300px;")}}</td>
      <td>Sub Venue:</td>
      <td>{{form.subvenue(style="width: 300px;")}}</td>
    </tr>
    {% if "name" in form.errors %}
      <tr>
        <td><li class="errors"> You Must Choose a Name 4 to 100 characters long.</li></td>
      </tr>
    {% endif %}
    <tr>
      <td>Street Address:</td>
      <td>{{form.street(style="width: 300px;")}}</td>
      <td>City:</td>
      <td>{{form.city(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>State/Province:</td>
      <td>{{form.state_prov(style="width: 300px;")}}</td>
      <td> Country:</td>
      <td>{{form.country(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Postal Code:</td>
      <td>{{form.postalcode(style="width: 300px;")}}</td>
    </tr>
    <td>&nbsp;</td>
    <tr>
      <td>Phone 1:</td>
      <td>{{form.phone1(style="width: 300px;")}}</td>
      <td>Phone 2:</td>
      <td>{{form.phone2(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Fax:</td>
      <td>{{form.fax(style="width: 300px;")}}</td>
      <td>Email:</td>
      <td>{{form.email(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Venue Website:</td>
      <td>{{form.weblink(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Meeting Rooms:</td>
      <td>{{form.meeting_rooms(style="width: 300px;")}}</td>
      <td>Lodging Rooms:</td>
      <td>{{form.room_size(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Business Centre:</td>
      <td>{{form.business_centre(style="width: 300px;")}}</td>
      <td>Internet (WIFI):</td>
      <td>{{form.internet(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Room Size:</td>
      <td>{{form.room_size(style="width: 300px;")}}</td>
      <td>Max Occupancy:</td>
      <td>{{form.max_occupancy(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Dining Room:</td>
      <td>{{form.dining_room(style="width: 300px;")}}</td>
      <td>Bar:</td>
      <td>{{form.bar(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Kitchen:</td>
      <td>{{form.kitchen(style="width: 300px;")}}</td>
      <td>Food Service:</td>
      <td>{{form.food_service(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Vip Service:</td>
      <td>{{form.vip_service(style="width: 300px;")}}</td>
      <td>Handicap:</td>
      <td>{{form.handicap(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Audio:</td>
      <td>{{form.kitchen(style="width: 300px;")}}</td>
      <td>Visual:</td>
      <td>{{form.food_service(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Stage:</td>
      <td>{{form.stage(style="width: 300px;")}}</td>
      <td>Dance:</td>
      <td>{{form.dance(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Lighting:</td>
      <td>{{form.lighting(style="width: 300px;")}}</td>
      <td>Dressing Rooms:</td>
      <td>{{form.dressing_rooms(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Storage:</td>
      <td>{{form.storage(style="width: 300px;")}}</td>
      <td>Loading Dock:</td>
      <td>{{form.loading_dock(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Air Conditioning:</td>
      <td>{{form.airconditioning(style="width: 300px;")}}</td>
      <td>Parking:</td>
      <td>{{form.parking(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td>Showers:</td>
      <td>{{form.showers(style="width: 300px;")}}</td>
      <td>Other Services:</td>
      <td>{{form.other_services(style="width: 300px;")}}</td>
    </tr>
    <tr>
      <td colspan="4">
        {% if "body" in form.errors %}
          <li class="errors"> Oops Too much text! </li>
        {% endif %}
      Venue Description 3000 characters of HTML or TEXT maximum: (Shift-Enter for newline, just Enter for new paragraph)<br>
      {{ ckeditor.load(pkg_type="standard") }}
      {{ ckeditor.config(custom_config="uiColor: '#9AB8F3'") }}
      {{ form.body }}
      </td>
    </tr>
  </table>
  <input class="marginl" type="submit" id="submit" value="Submit and Upload">
  <input type="hidden" id="tracker" name="tracker" value="{{ tracker }}"/>
  </form>
</div>

<script>
$( "#vtype" ).autocomplete({
select: function( event, ui ) {
    $.getJSON($SCRIPT_ROOT + '/_vgroupchoice', {a: ui.item.label},
        function (data) {
        $("#grouptbody").replaceWith(data.result);
    });
    },
  minLength: 2,
  source: [ "academy","airport", "aquarium", "arena", "auditorium", "bars", "beautysalon", "boat",
"caberet", "campground", "casino", "church", "college", "community_centre", "conference", "convention",
"court", "distillery", "fair", "farm", "fraternity", "funeral", "garden", "golf", "gym", "hall", "healthclub",
"home", "hospital", "hostel", "hotel", "ice_skating", "indoor", "internetcafe", "kennel", "kitchen",
"legislature", "library", "market", "marina", "medical_clinic", "motel", "museum", "nail_salon",
"night_club", "office", "outdoor", "park", "playgrounds", "pool", "postoffice","pubs", "radiostation",
"rec_centre", "resort", "restaurant", "retail", "rink", "river_tours", "salon","school", "seminary",
"ship", "spa", "stadium", "stage", "studio", "theatre", "university", "vinyard", "walks", "webinar", "winery", "workshop", "zoo"]
});
</script>
<script>
  var popupWindow = null;
  function centeredPopup(url,winName,w,h,scroll){
    LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
    TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
    settings = 'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
    popupWindow = window.open(url,winName,settings);
    popupWindow.focus();
    window.childcall = function(track){
    /*alert("here in postvenue centered popup")*/
    /*alert(track);*/
    trackcheck(track);
    }
  }
</script>
<script>
  "use strict";
  function trackcheck(track) {
    /*alert('Inside postvenue trackcheck');*/
    /*alert(track);*/
    $.getJSON($SCRIPT_ROOT + '/_venuimage', {a: track},
        function (data) {
        $("#topimg").replaceWith(data.result);
        $("#upload").hide();
        /*alert('data.result');*/
    });
    /*alert("Done");*/
    return false;
  };
</script>

{% else %}
    <p>You need to be <a href="/login/" target="blank"><strong>logged in</strong></a> to post a venue.</p>
{% endif %}
{% endblock %}

