{% extends "base.html" %}
{% block body %}

<div class = "marginl w3-center boxsize">

<p><h3>Welcome to the Gidout Privacy Policy</h3></p>
<div class="w3-left-align">
When you use Gidout services, you trust us with your information.
<b>This is important; we hope you will take time to read this policy carefully.</b>
And remember, you can find controls to manage your information and protect your privacy and security in your Account Settings

There are many different ways you can use our services. Our primary purpose is for you to be able to communicate with other people.
When you share information with us, we use this information to make your experience here better.

For example when you create a Gidout Account, you are giving us your contact information.

<p><h3>Our Privacy Policy explains:</h3></p>
<ul>
<li>What information we collect and why we collect it.</li>
<li>How we use that information.</li>
<li>The choices we offer, including how to access and update information.</li>
</ul>
We’ve tried to keep it as simple as possible, but if you’re not familiar with terms like cookies,
IP addresses, pixel tags and browsers, then read about these key terms first. Your privacy matters
to Gidout so whether you are new to Gidout or a long-time user, please do take the time to get to
know our practices – and if you have any questions contact us.

<p><h3>Information we Collect:</h3></p>

We collect information to provide better services to all of our users – from figuring out basic
things like which language you speak.

<p><h3>We collect information in the following ways:</h3></p>

Information you give us. For example, many of our services require you to sign up for a Gidout Account.
When you do, we’ll ask for personal information, like your name, email address or telephone number
 to store with your account. If you want to take full advantage of the sharing features we offer,
we might also ask you to create a publicly visible Gidout Profile, which may include your name and photo.

<p><h3>Information we get when you use of our services.</h3></p>
We collect information about the services that you use and how you use them.
<ul>
<li>Device information</li>

We collect device-specific information (such as your hardware model, operating system version,
unique device identifiers, and mobile network information including phone number).
Gidout may associate your device identifiers or phone number with your Gidout Account.

<li>Log information</li>

When you use our services or view content provided by Gidout, we automatically collect and store
certain information in server logs. This includes:
Internet protocol address,
device event information such as crashes, system activity, hardware settings, browser type,
browser language, the date and time of your request and referral URL.
cookies that may uniquely identify your browser or your Gidout Account.

<li>Location information</li>

Only the city you are in so we may determine where to expand our services to.

<li>Cookies and similar technologies</li>

Cookies are how we determine that you are logged into our site. Information we collect when you are signed in to Gidout,
in addition to information we obtain about you from partners, may be associated with your Gidout Account. When information
is associated with your Gidout Account, we treat it as personal information. For more information about how you can access, manage or delete information
 that is associated with your Gidout Account, visit the Transparency and choice section of this policy.

<li>How we use information we collect</li>

We use the information we collect from all of our services to provide, maintain, protect and improve them,
to develop new ones, and to protect Gidout and our users. We also use this information to offer you tailored
content – like giving you more relevant search results and ads.

When you contact Gidout, we keep a record of your communication to help solve any issues you might be facing.
We may use your email address to inform you about our services, such as letting you know about upcoming changes or improvements.

We will ask for your consent before using information for a purpose other than those that are set out in this Privacy Policy.


<li>Transparency and choice</li>

People have different privacy concerns. Our goal is to be clear about what information we collect,
so that you can make meaningful choices about how it is used. For example, you can:

Review and update your Gidout activity controls to decide what types of data, such as videos
you’ve watched on YouTube or past searches, you would like saved with your account when you
use Gidout services. You can also visit these controls to manage whether certain activity is
stored in a cookie or similar technology on your device when you use our services while signed-out of your account.
Review and control certain types of information tied to your Gidout Account by using Gidout Dashboard.
View and edit your preferences about the Gidout ads shown to you on Gidout and across the web,
such as which categories might interest you, using Ads Settings. You can also visit that page to opt out of certain Gidout advertising services.
Adjust how the Profile associated with your Gidout Account appears to others.
Control who you share information with through your Gidout Account.
Take information associated with your Gidout Account out of many of our services.
Choose whether your Profile name and Profile photo appear in shared endorsements that appear in ads.

You may also set your browser to block all cookies, including cookies associated with our services,
or to indicate when a cookie is being set by us. However, it’s important to remember that many of our
services may not function properly if your cookies are disabled. For example, we may not remember your language preferences.
Back to top
<li>Information you share</li>

Many of our services let you share information with others. Remember that when you share information
publicly, it may be indexable by search engines, including Gidout. Our services provide you with
different options on sharing and removing your content.
<li>Accessing and updating your personal information</li>

Whenever you use our services, we aim to provide you with access to your personal information.
If that information is wrong, we strive to give you ways to update it quickly or to delete it –
unless we have to keep that information for legitimate business or legal purposes. When updating
your personal information, we may ask you to verify your identity before we can act on your request.
To access your account you will have to access with a "fresh" logon, this is to protect you from you leaving your system unattended.

We may reject requests that are unreasonably repetitive, require disproportionate technical effort
(for example, developing a new system or fundamentally changing an existing practice), risk the
privacy of others, or would be extremely impractical (for instance, requests concerning information
residing on backup systems).

Where we can provide information access and correction, we will do so for free, except where it would
require a disproportionate effort. We aim to maintain our services in a manner that protects information
from accidental or malicious destruction. Because of this, after you delete information from our services,
we may not immediately delete residual copies from our active servers and may not remove information from our backup systems.

<li>Information we share</li>
<ol type = "a">
We do not share personal information with companies, organizations and individuals outside of Gidout
unless one of the following circumstances applies:

<li>With your consent</li>

We will share personal information with companies, organizations or individuals outside of Gidout
when we have your consent to do so. We require opt-in consent for the sharing of any sensitive personal information.

<li>With domain administrators

If your Gidout Account is managed for you by a domain administrator
then your domain administrator who provides user support to your organization will have
access to your Gidout Account information. Your domain administrator may be able to:
<ol type = "1">
<li>view statistics regarding your account.</li>
<li>change your account password.</li>
<li>suspend or terminate your account access.</li>
<li>access or retain information stored as part of your account.</li>
<li>receive your account information in order to satisfy applicable law, regulation, legal process
or enforceable governmental request.</li>
<li>restrict your ability to delete or edit information or privacy settings.</li>
</ol>

Please refer to your domain administrator’s privacy policy for more information.

<li>For external processing</li>

We provide personal information to our affiliates or other trusted businesses or persons to process
it for us, based on our instructions and in compliance with our Privacy Policy and any other appropriate confidentiality and security measures.

<li>For legal reasons</li>

We will share personal information with companies, organizations or individuals outside of Gidout
if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:
meet any applicable law, regulation, legal process or enforceable governmental request.
enforce applicable Terms of Service, including investigation of potential violations.
detect, prevent, or otherwise address fraud, security or technical issues.
protect against harm to the rights, property or safety of Gidout, our users or the public as
required or permitted by law.

We may share non-personally identifiable information publicly and with our partners – like publishers,
 advertisers or connected sites. For example, we may share information publicly to show trends about the general use of our services.
<p>
If Gidout is involved in a merger, acquisition or asset sale, we will continue to ensure the confidentiality
of any personal information and give affected users notice before personal information is transferred or becomes subject to a different privacy policy.
</p>
</ol>
<li>Information security</li>

We work hard to protect Gidout and our users from unauthorized access to or unauthorized alteration,
disclosure or destruction of information we hold.
<ul>
<li>In particular:</li>

We encrypt all of our services using SSL.
We review our information collection, storage and processing practices, including physical security measures,
to guard against unauthorized access to systems.
We restrict access to personal information to Gidout employees, contractors and agents who need to know that
information in order to process it for us, and who are subject to strict contractual confidentiality
obligations and may be disciplined or terminated if they fail to meet these obligations.
</ul>
<li>When this Privacy Policy applies</li>

Our Privacy Policy applies to all of the services offered by Gidout. and its affiliates,

Our Privacy Policy does not apply to services offered by other companies or individuals, including
products or sites that may be displayed to you in search results, sites that may include Gidout services,
or other sites linked from our services. Our Privacy Policy does not cover the information practices of
other companies and organizations who advertise our services, and who may use cookies, pixel tags and
other technologies to serve and offer relevant ads.
<li>Compliance and cooperation with regulatory authorities</li>

We regularly review our compliance with our Privacy Policy. When we receive formal written complaints,
we will contact the person who made the complaint to follow up. We work with the appropriate regulatory
authorities, including local data protection authorities, to resolve any complaints regarding the
transfer of personal data that we cannot resolve with our users directly.

<li>Changes</li>

Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy
Policy without your explicit consent. We will post any privacy policy changes on this page and, if
the changes are significant, we will provide a more prominent notice (including, for certain services,
email notification of privacy policy changes). We will also keep prior versions of this Privacy Policy
in an archive for your review.

<p>
We keep your personal information private and safe — and put you in control.
</p>
</ul>
</div>
</div>

{% endblock %}





