{% extends "base.html" %}
{% block body %}
<div class="page-header">
    <h1>Login to Gidout Here:</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST" style="float:none;">
    {{ form.csrf_token }}
  <ul>
    <li>Email address</li>
    {{ form.email (style="width: 300px;")}}<br>
    <li>Password</li>
    {{ form.password (style="width: 300px;")}}<br>
    Remember Me
    {{ form.remember_me }}<br>
  </ul>
    <div>
      <input class="btn btn-b" type="submit" name="login" value=Login></input>
      {% if resend == 1 %}
        <input class="btn btn-b btn-sm" type=submit name="resend" value="Resend" ></input>
      {% endif %}
      {% if rpass == 1 %}
        <input class="btn btn-b btn-sm" type=submit name="reset" value="Forgot Password?" ></input>
      {% endif %}
      <a class="btn btn-a btn-sm" href="register" >Register</a>
    </div>
</form>

</div>

{% endblock %}
