{% extends "base.html" %}
{% block body %}
<div class="w3-container w3-content w3-center bakfa">
  <h1>Register</h1>
  Your password needs to have at least 8 characters and include a number and a capitol letter. Make sure to record it somewhere.<br>
  <span class="w3-xlarge w3-text-red">*</span>&nbsp;&nbsp;means it is a required field.
  {% from "_formhelpers.html" import render_field %}
  <hr>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post" action="/register">
    {{ form.csrf_token }}
    <div class="w3-table">
      <div class="w3-row">
        <!-- username     -->
        <span class="w3-col m2">
          <span class="w3-cell">
            {% if form.errors %}
              <ul class="errors">
                {% if "username" in form.errors %}
                  <span style="color:red">
                    {% for error in form.username.errors %}
                      {{ error }}
                    {% endfor %}
                  </span>
                {% endif %}
              </ul>
            {% endif %}
            <span class="w3-xlarge w3-text-red">*</span>Username:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.username (style="width: 200px;") }}
          </span>
        </span>
        <!-- email     -->
        <span class="w3-col m2">
          <span class="w3-cell">
            {% if form.errors %}
              <ul class="errors">
                {% if "email" in form.errors %}
                  <span style="color:red">
                    {% for error in form.email.errors %}
                      {{ error }}
                    {% endfor %}
                  </span>
                {% endif %}
              </ul>
            {% endif %}
            <span class="w3-xlarge w3-text-red">*</span>Email:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.email (style="width: 200px;") }}
          </span>
        </span>
      </div>
      <div class="w3-row">
        <!-- password     -->
        <span class="w3-col m2">
          <span class="w3-cell">
            {% if form.errors %}
              <ul class="errors">
                {% if "password" in form.errors %}
                  <span style="color:red">{{ error }}</span>
                {% endif %}
              </ul>
            {% endif %}
            <span class="w3-xlarge w3-text-red">*</span>Password:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.password (style="width: 200px;") }}
          </span>
        </span>
        <!-- confirm     -->
        <span class="w3-col m2">
          <span class="w3-cell">
            {% if form.errors %}
              <ul class="errors">
                {% if "confirm" in form.errors %}
                  <span style="color:red">{{ error }}</span>
                {% endif %}
              </ul>
            {% endif %}
            <span class="w3-xlarge w3-text-red">*</span>Repeat Password:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.confirm (style="width: 200px;") }}
          </span>
        </span>
      </div>
      <div class="w3-row">
        <!-- first name     -->
        <span class="w3-col m2">
          <span class="w3-cell">
            {% if form.errors %}
              <ul class="errors">
                {% if "first_name" in form.errors %}
                  <span style="color:red">{{ error }}</span>
                {% endif %}
              </ul>
            {% endif %}
            <span class="w3-xlarge w3-text-red">*</span>Firstname:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.first_name (style="width: 200px;") }}
          </span>
        </span>
        <!-- last name     -->
        <span class="w3-col m2">
          <span class="w3-cell">
            {% if form.errors %}
              <ul class="errors">
                {% if "last_name" in form.errors %}
                  <span style="color:red">{{ error }}</span>
                {% endif %}
              </ul>
            {% endif %}
            <span class="w3-xlarge w3-text-red">*</span>Lastname:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.last_name (style="width: 200px;") }}
          </span>
        </span>
      </div>
      <div class="w3-row">
        <!-- address    -->
        <span class="w3-col m2">
          <span class="w3-cell">
            Address:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.address (style="width: 200px;") }}
          </span>
        </span>
        <!-- city     -->
        <span class="w3-col m2">
          <span class="w3-cell">
            City:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.city (style="width: 200px;") }}
          </span>
        </span>
      </div>
      <div class="w3-row">
          <!-- state     -->
        <span class="w3-col m2">
          <span class="w3-cell">
            State:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.state_prov (style="width: 200px;") }}
          </span>
        </span>
        <!-- country     -->
        <span class="w3-col m2">
          <span class="w3-cell">
            Country:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.country (style="width: 200px;") }}
          </span>
        </span>
      </div>
      <div class="w3-row">
        <!-- postal code     -->
        <span class="w3-col m2">
          <span class="w3-cell">
            Postal Code:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.postalcode (style="width: 200px;") }}
          </span>
        </span>
        <span class="w3-col m2">
            <!-- phone number     -->
          <span class="w3-cell">
            Phone Number:
          </span>
        </span>
        <span class="w3-col m4">
          <span class="w3-cell">
            {{ form.phone (style="width: 200px;") }}
          </span>
        </span>
      </div>

      {% if form.errors %}
        <ul class="errors">
          {% if "accept_tos" in form.errors %}
            <span style="color:red">You must accept the 'Terms Of Service' to sign up!</span>
          {% endif %}
        </ul>
      {% endif %}
    </div>
    <span class="w3-xlarge w3-text-red">*</span>Accept Terms of Service:&nbsp;&nbsp;{{ form.accept_tos }}&nbsp;&nbsp;You must accept the 'Terms Of Service' to sign up!
    <br>
    <input class = "btn btn-b" type="submit" value="Register">
  </form>
</div>
{% endblock %}



