{% extends "base.html" %}
{% block body %}
<html>
	<h1>Register</h1>
    Your password needs to have at least 8 characters and include a number and a capitol letter. Make sure to record it somewhere.<br>
    <span style="color:red"><strong>*</strong></span>&nbsp;&nbsp;means it is a required field.
    
	{% from "_formhelpers.html" import render_field %}
	<hr>
    
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}   
    
    
    
<form method=post action="/resetpass">
    {{form.hidden_tag() }}
	{{ form.csrf_token }}
    <div style="display:none;">{{form.email}}</div>
<table>
    <tr>
      <td> 
        Password:</td><td><span class ="bakf">{{ form.password (style="width: 300px;") }}</span>
      </td>
      <td>
        <span style="color:red"><strong>*</strong></span>
      </td>
    </tr>
    {% if form.errors %}
        <ul class=errors>
            {% if "password" in form.errors %}
                <tr><td><span style="color:red">
                    {% for error in form.password.errors %}
                    {{ error }} 
                    {% endfor %}</span></td></tr>
            {% endif %}
        </ul>
    {% endif %}  
    <tr>
      <td>
        Repeat Password:&nbsp;</td><td><span class ="bakf">{{ form.confirm (style="width: 300px;") }}</span>
      </td>
      <td>
        <span style="color:red"><strong>*</strong></span>
      </td>
    </tr>
    {% if form.errors %}
        <ul class=errors>
            {% if "confirm" in form.errors %}
                <tr><td><span style="color:red">{{ error }}</span></td></tr>
            {% endif %}
        </ul>
    {% endif %}      
</table>
  <p><input class = "btn btn-b" type=submit value="Reset">
  <br>
</form>
{% endblock %}


     
