
<p>Welcome! To GIDOUT</p>
<p>You have requested a new password for your account. Please follow this link to reset your password:</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br>
<p>Cheers!</p>
