
<p><a href="https://www.gidout.com">Welcome! To GIDOUT</a></p>
<p>{{date}}</p>
<p>{{first_name}}&nbsp;{{last_name}}</p>
<p>Thank You for continuing your subscription of our service.</p>
<p>We will do our best to make this a happy and satisfactory experience!</p>
<p></p>
<p>Transaction Id: &nbsp;{{transaction}}</p>
<br>
<p>Cheers!</p>
