
<p><a href="https://www.gidout.com">Welcome! To GIDOUT</a></p>
<p>{{date}}</p>
<p>{{first_name}}&nbsp;{{last_name}}</p>
<p>Thank You for purchasing a subscription of our service.</p>
<p>We will do our best to make this a happy and satisfactory experience!</p>
<p>Transaction ID &nbsp;{{transaction}}</p>
<br>
<p>Cheers!</p>
first_name  = guser.name,
                        last_name   = guser.lastname,
                        date        = fixdate,
                        transaction = request.form.get('txn_id')
