
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask-Dropzone Demo</title>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 200px; width: 800px') }}
</head>
<body>
<h1>New Album</h1>

<form action="{{ url_for('venue.handle_upload') }}" enctype="multipart/form-data" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="title">Title</label>
    <input type="text" id="title" name="title"/><br>
    <label for="description">Description</label>
    <input type="text" id="description" name="description"/><br>
    {{ dropzone.create(action='venue.handle_upload') }}
    <input type="submit" id="submit" value="Submit and Upload">
    <button id="upload-btn">Upload</button>
</form>


{{ dropzone.load_js() }}
{{ dropzone.config(custom_init='dz = this;document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();});',
                     custom_options='autoProcessQueue: false, addRemoveLinks: true, parallelUploads: 20,') }}
</body>
</html>
