{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
    "use strict";
  $(function () {
    $(document).on('click', ".grouplink", function () {
        var element = this;
        var grid = element.id
        $.getJSON($SCRIPT_ROOT + '/_groupchoice', {a: element.id},
                function (data) {
            $(element).parent().parent("#grouptbody").replaceWith(data.result);
        });
        $('#postgroup').val(element.id);
        return false;
    });
});
</script>
<link rel="stylesheet" type="text/css" href="/static/css/gidcal.css" />
 <div  id="page-wrap" >
    <div id="calendarbox" style="border-color:blue; float:left; min-height:1px; display:block; box-sizing:border-box; width:100%; text-overflow:ellipsis; font-weight:bolder;
      border-width:1px; border-style:solid; background-color:#babeaa; margin-left:0px; overflow-x:hidden; overflow-y:hidden; text-align:center; padding-top:0px; padding-right:0px; padding-bottom:5px; padding-left:0px;">

        <div id="headerbar" class="cal-head">
          <div  class="cal-day-head">Sunday   </div>
          <div  class="cal-day-head">Monday   </div>
          <div  class="cal-day-head">Tuesday  </div>
          <div  class="cal-day-head">Wednesday</div>
          <div  class="cal-day-head">Thursday </div>
          <div  class="cal-day-head">Friday   </div>
          <div  class="cal-day-head">Saturday </div>
        </div>
      <div id="days-box1" class="cal-mth-row">
        <div id="day-single" class="cal-mth-day-wknd">10
          <div id="events">
            <a href="http://www.example.com/" class="event event1" title="Cool Event 1"></a>
            <a href="http://www.example.com/" class="event event2"></a>
            <a href="http://www.example.com/" class="event event3"></a>
            <a href="http://www.example.com/" class="event event4"></a>
            <a href="http://www.example.com/" class="event event5"></a>
            <a href="http://www.example.com/" class="event event6"></a>
            <a href="http://www.example.com/" class="event event7"></a>
            <a href="http://www.example.com/" class="event event8"></a>
            <a href="http://www.example.com/" class="event event9"></a>
            <a href="http://www.example.com/" class="event event10"></a>
            <a href="http://www.example.com/" class="event event12"></a>
            <a href="http://www.example.com/" class="event event13"></a>
            <a href="http://www.example.com/" class="event event14"></a>
            <a href="http://www.example.com/" class="event event15"></a>
            <a href="http://www.example.com/" class="event event16"></a>
            <a href="http://www.example.com/" class="event event17"></a>
          </div>
        </div>
        <div id="day-single" class="cal-mth-day">11
          <div id="events1">
            <a href="http://www.example.com/" class="event event1"></a>
            <a href="http://www.example.com/" class="event event2"></a>
            <a href="http://www.example.com/" class="event event3"></a>
            <a href="http://www.example.com/" class="event event4"></a>
          </div>
        </div>
        <div class="cal-mth-day">12</div>
        <div class="cal-mth-day">13</div>
        <div class="cal-mth-day">14</div>
        <div class="cal-mth-day">15</div>
        <div class="cal-mth-day-wknd">16</div>
      </div>
      <div id "days-box2" class="cal-mth-row">
        <div class="cal-mth-day-wknd">17</div>
        <div class="cal-mth-day">18</div>
        <div class="cal-mth-day">19</div>
        <div class="cal-mth-day">20</div>
        <div class="cal-mth-day">21</div>
        <div class="cal-mth-day">22</div>
        <div class="cal-mth-day-wknd">23</div>
      </div>
      <div id "days-box3" class="cal-mth-row">
        <div class="cal-mth-day-wknd">24</div>
        <div class="cal-mth-day">25</div>
        <div class="cal-mth-day">26</div>
        <div class="cal-mth-day">27</div>
        <div class="cal-mth-day">28</div>
        <div class="cal-mth-day">29</div>
        <div class="cal-mth-day-wknd">30</div>
      </div>
    </div>
  </div>


{% endblock %}
