{% extends "base.html" %}
{% block body %}

<div class="marginl w3-center boxsize">
<p><span><h2>GIDOUT</h2><h1> Terms of Service</h1></span></p>


<p><h3>Welcome to Gidout!</h3></p>
<div class="w3-left-align">
<p>Thank You for using our products and services (“Services”). The Services are provided by Gidout (“Gidout”), located at 1516 Louise Place Victoria British Columbia Canada.<br>

By using our Services, you are agreeing to these terms. Please read them carefully.</p>

<p><h3>Using our Services</h3></p>

You must follow any policies made available to you within the Services.

<p>We at Gidout are working hard to provide you and the general public with a place to get the word out about your event.
If we both treat each other with respect, it will be much easier to add new delightful features to this website, rather than fight the crackers and trolls.
</p>

<p>Please do not misuse our Services. For example, don’t interfere with our Services or try to hack access to them. Please use the website using a browser and use the instructions that we provide.
You may use our Services only as permitted by law, including you must comply with applicable export and re-export control laws and regulations.
 We reserve the right to suspend or stop providing our Services to you if you do not comply with our terms or policies or if you are suspected of misconduct.</p>

<p>The ownership of any intellectual property rights in our Services or the content you access belongs to the copyright holders. Just because you find something on this
site does not mean that you have any rights to it whatsoever. If you want to use any content from this site you must obtain permission from the owner of the content.
We retain all rights to our branding, our logos and all our copyrighted material.
Legal notices displayed in or along with our Services must not be removed.</p>

<p>Most of the content of this site has been provided by other users, the usage of these materials is the sole responsibility of the entity that makes it available.
From time to time we may review content to determine whether it is illegal or violates our policies, if we believe that the material violates our policies or the law
we may remove or refuse to display that content.
It would be an unreasonable burden to review all the content, so please don’t assume that we do. We do provide a notification button and a process to flag any content that is questionable.</p>

<p>When you sign up for our Services, we may send you service announcements, administrative messages, and other information.
You may choose to disable this service from the configuration page.</p>

<p>Our Services are designed to work on mobile devices. Please refrain from using your mobile device in any dangerous circumstances such as driving or crossing the road.</p>

<p><h3>Your Gidout Account</h3></p>

<p>To access the content you do not need to have an account. You may need a Gidout Account in order to use some of our Services. You may create your own Gidout Account,
or your Gidout Account may be assigned to you by an administrator, such as your employer or educational institution.
If you are using a Gidout Account assigned to you by an administrator, different or additional terms may apply and your administrator may be able to access or disable your account.</p>

<p>To protect your Gidout Account, keep your password confidential. You are responsible for the activity that happens on or through your Gidout Account.
Try not to reuse your Gidout Account password on third-party applications. If you learn of any unauthorized use of your password or Gidout Account, follow these instructions.
<b>Privacy and Copyright Protection</b></p>

<p>Gidout’s privacy policies explain how we treat your personal data and protect your privacy when you use our Services.
 By using our Services, you agree that Gidout can use such data in accordance with our privacy policies.</p>

<p>We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the U.S. Digital Millennium Copyright Act.</p>

<p>We provide information to help copyright holders manage their intellectual property online.
If you think somebody is violating your copyrights and want to notify us, you can find information
about submitting notices and Gidout’s policy about responding to notices in our Help Center.</p>
<p><h3>Your Content in our Services</h3></p>

<p>Some of our Services allow you to upload, submit, store, send or receive content. You retain
ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.</p>

<p>When you upload, submit, store, send or receive content to or through our Services, you give Gidout
(and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative
works (such as those resulting from translations, adaptations or other changes we make so that your content
works better with our Services), communicate, publish, publicly perform, publicly display and distribute such content.
The rights you grant in this license are for the limited purpose of operating, promoting, and improving our Services,
and to develop new ones. This license continues even if you stop using our Services (for example, for a business listing
you have added to Gidout Venues). Some Services may offer you ways to access and remove content that has been provided to that Service.
Also, in some of our Services, there are terms or settings that narrow the scope of our use of the content submitted in those Services.
Make sure you have the necessary rights to grant us this license for any content that you submit to our Services.</p>

<p>If you submit feedback or suggestions about our Services, we may use your feedback or suggestions without obligation to you.</p>

<p><h3>Modifying and Terminating our Services</h3></p>

<p>We are constantly changing and improving our Services. We may add or remove functionalities or features,
and we may suspend or stop a Service altogether.</p>

<p>You can stop using our Services at any time, although we’ll be sorry to see you go. Gidout may also
stop providing Services to you, or add or create new limits to our Services at any time.</p>

We believe that you own your data and preserving your access to such data is important.
If we discontinue a Service, where reasonably possible, we will give you reasonable advance notice and a chance to get information out of that Service.
<p><h3>Our Warranties and Disclaimers</h3></p>

We provide our Services using a commercially reasonable level of skill and care and we
hope that you will enjoy using them. But there are certain things that we don’t promise about our Services.

<p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, NEITHER Gidout
NOR ITS SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES. FOR EXAMPLE,
WE DON’T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE SERVICES, THE SPECIFIC FUNCTIONS OF
THE SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SERVICES “AS IS”.</p>

<p>SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.
</p><p><h3>Liability for our Services</h3></p>

<p>WHEN PERMITTED BY LAW, Gidout, AND Gidout’s SUPPLIERS AND DISTRIBUTORS, WILL NOT BE RESPONSIBLE
FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.</p>

<p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF Gidout, AND ITS SUPPLIERS AND DISTRIBUTORS,
FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICES (OR, IF WE CHOOSE, TO SUPPLYING YOU THE SERVICES AGAIN).</p>

<p>IN ALL CASES, Gidout, AND ITS SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.</p>
<p><h3>Business uses of our Services</h3></p>

<p>If you are using our Services on behalf of a business, that business accepts these terms.
It will hold harmless and indemnify Gidout and its affiliates, officers, agents, and employees
from any claim, suit or action arising from or related to the use of the Services or violation
of these terms, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation costs and attorneys’ fees.</p>
<p><h3>About these Terms</h3></p>

<p>We may modify these terms or any additional terms that apply to a Service to, for example,
reflect changes to the law or changes to our Services. You should look at the terms regularly.
We’ll post notice of modifications to these terms on this page. We’ll post notice of modified additional terms in the applicable Service.
Changes will not apply retroactively and will become effective no sooner than fourteen days after they are posted.
 However, changes addressing new functions for a Service or changes made for legal reasons will be effective immediately.
  If you do not agree to the modified terms for a Service, you should discontinue your use of that Service.</p>

<p>If there is a conflict between these terms and the additional terms, the additional terms will control for that conflict.</p>

<p>These terms control the relationship between Gidout and you. They do not create any third party beneficiary rights.</p>

<p>If you do not comply with these terms, and we don’t take action right away, this doesn’t mean
that we are giving up any rights that we may have (such as taking action in the future).</p>

<p>If it turns out that a particular term is not enforceable, this will not affect any other terms.</p>

<p>The laws of British Columbia, CANADA, will apply to any disputes arising out of or relating to these terms or the Services.
All claims arising out of or relating to these terms or the Services will be litigated exclusively in the federal or state courts
of British Columbia and you and Gidout consent to personal jurisdiction in those courts.</p>

For information about how to contact Gidout, please visit our contact page.
</div>
</div>


{% endblock %}





