<!-- extend base layout -->
{% extends "base.html" %}

{% block body %}


<form action="{{ url_for('entry.upload') }}" method="POST" enctype="multipart/form-data">
	{{form.hidden_tag()}}
   {{ form.username }} <br>
   <input type=file name="photo"><br>
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
    <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
    <input type="radio" name="sex" value="Male"> Male<br>
    <input type="radio" name="sex" value="Female" checked="checked"> Female<br>
    <textarea rows="4" cols="50">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea> <p>

    <button type="button">Click Me!</button>
<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select><br>
<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select> <br>
<select>
  <optgroup label="Swedish Cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
  </optgroup>
  <optgroup label="German Cars">
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </optgroup>
</select> 
<br>
<label for="male   ">Male</label>
<input type="radio" name="sex" id="male" value="male"><br>
<label for="female">Female</label>
<input type="radio" name="sex" id="female" value="female"><br>
<input type="submit" value="Submit">
   
</form>
<form>
  <fieldset>
    <legend>Personalia:</legend>
    Name: <input type="text"><br>
    Email: <input type="text"><br>
    Date of birth: <input type="text">
  </fieldset>
</form> 
{% if error %}
	<p><strong>ERROR!</strong>{{error}}</p>
{% endif %}



{% endblock %}
