{% extends "base.html" %}
{% block body %}
<html>
    <h1>User Edit</h1>
    {% from "_formhelpers.html" import render_field %}
    <hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if current_user.is_authenticated %}
<span>You may edit your user settings here.<br>
    <hr>
    Extend your account features&nbsp;&nbsp;&nbsp;&nbsp;<a href="/account"><button>Account</button></a>
</span>
<form method=post action="/useredit">
    {{form.hidden_tag()}}
    {{ form.csrf_token }}
    <hr>
  <table>
    <tr>
      <td class ="bakf">Title:</td><td><span>{{form.title(style="width: 200px;")}}</span></td>
      <td class ="bakf">First Name:</td><td><span>{{form.first_name(style="width: 200px;")}}</span></td>
    <tr>
      <td class ="bakf">Initial:</td><td><span class>{{form.initial(style="width: 200px;")}}</span></td>
      <td class ="bakf">Last Name:</td><td><span class>{{form.last_name(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td class ="bakf">Street:</td><td><span>{{form.street(style="width: 200px;")}}</span></td>
      <td class ="bakf">City:</td><td><span>{{form.city(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td class ="bakf">State/Prov:</td><td><span>{{form.state_prov(style="width: 200px;")}}</span></td>
      <td class ="bakf">Country:</td><td><span>{{form.country(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td class ="bakf">Post Code:</td><td><span>{{form.postalcode(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td class ="bakf">Phone 1:</td><td><span>{{form.phone1(style="width: 200px;")}}</span></td>
      <td class ="bakf">Phone 2:</td><td><span>{{form.phone2(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td class ="bakf">Fax:</td><td><span>{{form.fax(style="width: 200px;")}}</span></td>
    </tr>
    <tr>
      <td class ="bakf">Secret Question:</td><td><span>{{form.secret_question(style="width: 200px;")}}</span></td>
      <td class ="bakf">Secret Answer:</td><td><span>{{form.secret_answer(style="width: 200px;")}}</span></td>
    </tr>
  </table>
  <p><input class="btn-b" type=submit name="Update" value="Update">
  <br>
</form>
{% else %}
    <p>You need to be <a href="login" target="blank"><strong>logged in</strong></a> to access this page.</p>
{% endif %}
{% endblock %}
