{% extends "base.html" %}
{% block body %}
<div class="center">
  <h2 class="w3-center">{{ name }}</h2>
  {% if subvenue %}
    <h3 class="w3-center">{{ subvenue }}</h3>
  {% endif %}
  {% if edit != "" %}
    <form method="POST" action="/venueedit">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" name="postnum" value="{{ postnum }}" />
      <input type="submit" value="edit" name="edit" />
    </form>
  {% endif %}
  <div class="w3-half">
    <div class="w3-row">
      <a class="next" onclick="plusSlides(1)">❯</a>
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      {% if image0 %}
      <div class="mySlides">
        <div class="numbertext">1 / 12</div>
        <img id="pic1" src="{{image0}}" onclick="modalpic(this.id)" alt="Picture One" class=" imgcenter venimg" />
      </div>
      {% endif %}
      {% if image1 != "" %}
      <div class="mySlides">
        <div class="numbertext">2 / 12</div>
        <img id="pic2" src="{{image1}}" onclick="modalpic(this.id)" alt="Picture Two" class=" imgcenter venimg" />
      </div>
      {% endif %}
      {% if image2 != ""  %}
      <div class="mySlides">
        <div class="numbertext">3 / 12</div>
        <img id="pic3" src="{{image2}}" onclick="modalpic(this.id)" alt="Picture Three" class=" imgcenter venimg" />
      </div>
      {% endif %}
      {% if image3 != ""  %}
      <div class="mySlides">
        <div class="numbertext">4 / 12</div>
        <img id="pic4" src="{{image3}}" onclick="modalpic(this.id)" alt="Picture Four" class=" imgcenter venimg" />
      </div>
      {% endif %}
      {% if image4 != ""  %}
      <div class="mySlides">
        <div class="numbertext">5 / 12</div>
        <img id="pic5" src="{{image4}}" onclick="modalpic(this.id)" alt="Picture Five" class=" imgcenter venimg" />
      </div>
      {% endif %}
      {% if image5 != ""  %}
      <div class="mySlides">
        <div class="numbertext">6 / 12</div>
        <img id="pic6" src="{{image5}}" onclick="modalpic(this.id)" alt="Picture Six" class=" imgcenter venimg" />
      </div>
      {% endif %}
      {% if image6 != ""  %}
      <div class="mySlides">
        <div class="numbertext">7 / 12</div>
        <img id="pic7" src="{{image6}}" onclick="modalpic(this.id)" alt="Picture Seven" class=" imgcenter venimg" />
      </div>
      {% endif %}
      {% if image7 != ""  %}
      <div class="mySlides">
        <div class="numbertext">8 / 12</div>
        <img id="pic8" src="{{image7}}" onclick="modalpic(this.id)" alt="Picture Eight" class=" imgcenter venimg" />
      </div>
      {% endif %}
      {% if image8 != ""  %}
      <div class="mySlides">
        <div class="numbertext">9 / 12</div>
        <img id="pic9" src="{{image8}}" onclick="modalpic(this.id)" alt="Picture Nine" class=" imgcenter venimg" />
      </div>
      {% endif %}
      {% if image9 != ""  %}
      <div class="mySlides">
        <div class="numbertext">10 / 12</div>
        <img id="pic10" src="{{image9}}" onclick="modalpic(this.id)" alt="Picture Ten" class=" imgcenter venimg" />
      </div>
      {% endif %}
      {% if image10 != ""  %}
      <div class="mySlides">
        <div class="numbertext">11 / 12</div>
        <img id="pic11" src="{{image10}}" onclick="modalpic(this.id)" alt="Picture Eleven" class=" imgcenter venimg" />
      </div>
      {% endif %}
      {% if image11 != ""  %}
      <div class="mySlides">
        <div class="numbertext">12 / 12</div>
        <img id="pic12" src="{{image11}}" onclick="modalpic(this.id)" alt="Picture Twelve" class=" imgcenter venimg" />
      </div>
      {% endif %}
    </div>
    <div class="w3-row">
      <div class="row">
        {% if image0a %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image0a}}"  onclick="currentSlide(1)" alt="Picture One"/>
          </div>
        {% endif %}
        {% if image1a != ""  %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image1a}}"  onclick="currentSlide(2)" alt="Picture Two"/>
          </div>
        {% endif %}
        {% if image2a != ""  %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image2a}}"  onclick="currentSlide(3)" alt="Picture Three"/>
          </div>
        {% endif %}
        {% if image3a != ""  %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image3a}}"  onclick="currentSlide(4)" alt="Picture Four"/>
          </div>
        {% endif %}
        {% if image4a != ""  %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image4a}}"  onclick="currentSlide(5)" alt="Picture Five"/>
          </div>
        {% endif %}
        {% if image5a != ""  %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image5a}}"  onclick="currentSlide(6)" alt="Picture Six"/>
          </div>
        {% endif %}
      </div>
      <div class="row">
        {% if image6a != ""  %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image6a}}"  onclick="currentSlide(7)" alt="Picture Seven"/>
          </div>
        {% endif %}
        {% if image7a != ""  %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image7a}}"  onclick="currentSlide(8)" alt="Picture Eight"/>
          </div>
        {% endif %}
        {% if image8a != ""  %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image8a}}"  onclick="currentSlide(9)" alt="Picture Nine"/>
          </div>
        {% endif %}
        {% if image9a != ""  %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image9a}}"  onclick="currentSlide(10)" alt="Picture Ten"/>
          </div>
        {% endif %}
        {% if image10a != ""  %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image10a}}"  onclick="currentSlide(11)" alt="Picture Eleven"/>
          </div>
        {% endif %}
        {% if image11a != ""  %}
          <div class="w3-col s2 padsm">
            <img class="demo cursor vthumb" src="{{image11a}}"  onclick="currentSlide(12)" alt="Picture Twelve"/>
          </div>
        {% endif %}
      </div>
    </div>

  </div>

  <div class="w3-content w3-half">
    <fieldset>
      <div id="map1">
        {{ frame | safe }}
      </div>
    </fieldset>
    <fieldset>
      <table class="w3-table w3-striped w3-responsive">
        <tr>
          <td>Contact Email:</td>
          <td>{{ email }}</td>
        </tr>
        <tr>
          <td>Contact Phone:</td>
          <td>{{ phone }}</td>
        </tr>
        <tr>
          <td>Price:</td>
          <td>{{ price }}</td>
        </tr>
        <tr>
          <td>Web Link:</td>
          <td>{{ weblink }}</td>
        </tr>
        <tr>
          <td>Meeting Rooms:</td>
          <td>{{ meeting_rooms }}</td>
        </tr>
        <tr>
          <td>Max Occupancy:</td>
          <td>{{ max_occupancy }}</td>
        </tr>
        <tr>
          <td>Handicap:</td>
          <td>{{ handicap }}</td>
        </tr>
        <tr>
          <td>Parking:</td>
          <td>{{ parking }}</td>
        </tr>
        <tr>
          <td>Food Service:</td>
          <td>{{ food_service }}</td>
        </tr>
      </table>
      <a href="/details/{{postnum}}"><button>Full Details</button></a>
    </fieldset>
  </div>
</div>
<fieldset class="w3-clear">
  <legend>Description:</legend>
  {{ body | safe }}
</fieldset>

<div id="myModal" class="modal">
  <!-- The Close Button -->
  <span class="gclose" onclick="closemodal()">&times;</span>
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">
  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);
  function plusSlides(n) {
    /*alert("PlusSlides both");*/
    showSlides(slideIndex += n);
  }
  function currentSlide(n) {
  /*alert("Current Slide");*/
  showSlides(slideIndex = n);
  }
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
  function modalpic(n){
    var modal = document.getElementById("myModal");
    var modalImg = document.getElementById("img01");
    var modalSrc = document.getElementById(n)
    /*alert("Modal Pic");*/
    modalImg.src = modalSrc.src
    /*alert("Modal Src");*/
    modal.style.display = "block";
    /*alert("End of Modal");*/
  }
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("gclose")[0];
  function closemodal(){
    var modal = document.getElementById("myModal");
    modal.style.display = "none";
  }
</script>

{% endblock %}




















