{% extends "base.html" %}
{% block body %}
<div  class="topcontainer1 boxsize bakfa w3-center">
  <h1>Venue</h1>
  {% from "_formhelpersadmin.html" import render_field %}
  <hr>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="w3-center marginl">
    <!-- Main Buttons up to 5 rows ---------------------------------------------------------------------------------   -->
    {% for j in range( length) %}
      {% set k = loop.index0 %}
      <div class="topcontainer1">
        {% for i in range(10) %}
          {% if par[k * 10 + i] %}
            <div class="topcontents">
              <div>
                <a href="{{ par[k * 10 + i] }}"><img src="/static/images/venue/buttons/{{par[k * 10 + i]}}.png" class="scale" title="{{par[k * 10 + i ]}}"/></a>
            </div>
          {{par[k * 10 + i]}}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
    <a href="/postvenue">Post New Venue</a><br>
  </div>

  <hr>
  <section>
    <div class="w3-table w3-striped font7">
      {% for tst in tstlistb %}
        <div class="w3-row">
          <div class="w3-col m1 font10">
            <a href="/venue/{{tst[0]}}"><img src="/static/images/venue/buttons/{{tst[0]}}.png" alt="{{tst[0]}}" title="{{tst[0]}}" height="60px" width="60px"></a>
            <center>{{tst[0]}}</center>
          </div>
          <div class="w3-col m4 font10">
            <a href="/venpage/{{tst[6]}}" title="{{tst[1]}}"><b>{{tst[1]}}</b></a>
          </div>
          <div class="w3-col m1 font10">
           max occupancy:<br>{{tst[4]}}
          </div>
          <div class="w3-col m2 font10">
            phone:<br>{{tst[2]}}
          </div>
          <div class="w3-col m3 font10">
            weblink:&nbsp;&nbsp;<a href="{{tst[5]}}" title={{tst[5]}}> {{tst[5]}} </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}
















