<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gidout Edit Image</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/css/dropzone.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/w3g.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/dropzone.js"></script>
</head>
<body>
<div class="margintopneg w3-content">
<h2>Add Your Images Here</h2>
Click in blank area to add new files or drag and drop.

<form action = "/editpic" method="post" class="dropzone" id="myDropzone" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="hidden" id="postnum" name="postnum" value="{{ postnum }}"/>
  <div class="dropzone-previews"></div>
</form>
<button id="upload-btn">Finished</button>
<a href="/venpage/{{postnum}}"><button>Cancel</button></a>

<script>
  Dropzone.autoDiscover = false;
    var myDropzone = new Dropzone("#myDropzone", {
      init: function() {
        dz = this;
        document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();
        });  // custom init code
      this.on("queuecomplete", function(file) {
        // Called when all files in the queue finish uploading.
        window.close();
      });

      maxFileSize: 5,
      acceptedFiles: "image/*",
      paramName: "file",
      maxFiles: 12,
      autoProcessQueue: false,
      uploadMultiple: true,
      dictDefaultMessage: "Drop upto 12 image files here or click to open a selector.",
      dictFallbackMessage: "Your browser does not support drag'n'drop file uploads.",
      dictInvalidFileType: "You can't upload files of this type.",
      dictFileTooBig: "File is too big {{filesize}}. Max filesize: {{maxFilesize}}MiB.",
      dictResponseError: "Server error: {{statusCode}}",
      dictMaxFilesExceeded: "You can't upload any more files.",
      //more dropzone options here
    });
    var test = {{ pic|tojson }}
    var mockFile = [];
    for (var x in test) {
      mockFile.push({name: test[x], size: 12345, dataURL: test[x]})
      };
    for (i = 0; i < mockFile.length; i++) {
      myDropzone.options.addedfile.call(myDropzone, mockFile[i]);
      myDropzone.emit("thumbnail", mockFile[i], mockFile[i].name);
      myDropzone.emit("complete", mockFile[i]);
      }
    });


</script>

</div>
</body>
</html>













