<!-- extend base layout -->
{% extends "base.html" %}
{% block body %}
{% from "_formhelpersbare.html" import render_field %}
<!-- here is the sample calculate script -->
<script>
  function togglebut(thing){
    if(thing.className == "venimage") {
      thing.className = "venimagesel";
      }
    else {
      thing.className = "venimage";
      }
    }
</script>

<script>
  function deleteimage(postnum){    // find all the venbuttondel elements and delete them
    var todel = document.getElementsByClassName('venimagesel');
    $.ajaxSetup({ async: false });
    for (var i = todel.length; i--;) {
      var imgelement = todel.item(i);
      var imgparent = imgelement.closest("div, div");
      $.getJSON($SCRIPT_ROOT + '/_editdelpic', {a: imgelement.src, b: postnum},
        function () {
          imgparent.remove();
        }
      );
    };//endfor
  };//endmain
</script>

<script type="text/javascript">
    "use strict";
  function groupCheck() {
    var element = this;
    $.getJSON($SCRIPT_ROOT + '/_vgroupchoice', {a: element.id},
        function (data) {
        $("#grouptbody").replaceWith(data.result);
    });
    $('#vtype').val(element.id);
    return false;
};
</script>
<script type="text/javascript">
    "use strict";
     $(document).on('click', ".grouplink", groupCheck);
</script>

<div class="marginl">
  <h3>Edit Your Venue</h3>
  <span class="w3-xlarge w3-text-red">*</span>&nbsp;&nbsp;indicates required field
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% if current_user.is_authenticated %}
  <!-- Main Form layout                                      --------------------                          -->
  <div id="topimg">
    <div class="w3-row">
      {% if image0 != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image0}}" alt="Picture One"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
        </div>
      {% endif %}
      {% if  image1  != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image1}}" alt="Picture Two"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
        </div>
      {% endif %}
      {% if  image2  != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image2}}" alt="Picture Three"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
        </div>
      {% endif %}
      {% if image3 != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image3}}" alt="Picture Four"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
        </div>
      {% endif %}
      {% if image4 != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image4}}" alt="Picture Five"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
        </div>
      {% endif %}
      {% if image5 != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image5}}" alt="Picture Six"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
        </div>
      {% endif %}
    </div>
    <div class="w3-row">
      {% if image6 != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image6}}" alt="Picture Seven"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
       </div>
      {% endif %}
      {% if image7 != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image7}}" alt="Picture Eight"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
        </div>
      {% endif %}
      {% if image8 != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image8}}" alt="Picture Nine"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
        </div>
      {% endif %}
      {% if image9 != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image9}}" alt="Picture Ten"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
        </div>
      {% endif %}
      {% if image10 != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image10}}" alt="Picture Eleven"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
        </div>
      {% endif %}
      {% if image11 != '' %}
        <div class="w3-col s2 overlay-image">
          <img class="venimage" src="{{image11}}" alt="Picture Twelve"  onclick="togglebut(this)" />
          <div class="ventext">Selected</div>
        </div>
      {% endif %}
    </div>
  </div>

  <a href="/venueimageedit/{{postnum}}" id="upload" onclick="centeredPopup(this.href,'myWindow','800','600','yes');return false"><button>Click Here to add Images</button></a>

  <button onclick="deleteimage({{postnum}})">Delete Selected Images</button>
<form action="/venueedit" method="post" enctype=multipart/form-data name="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<fieldset class="bakfa"><legend>Venue Type</legend><!-- Venue Group type     -->
  <table  id="grouptable">
    <tbody id="grouptbody">
      <tr>
        {% for bb in gbut %}
          <td style="font-size:7.00pt;"><img class="grouplink" id="{{bb}}" src="/static/images/venue/buttons/{{bb}}.png" title="{{bb}}" />{{bb}}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  <span class="w3-xlarge w3-text-red">*</span>Venue Type:<br>
  {{form.vtype}}
  {% if form.errors %}
    <ul class=errors>
      {% if "vtype" in form.errors %}
        <li> You Must Choose a Group </li>
      {% endif %}
    </ul>
  {% endif %}
</fieldset>
<!-- Main Form layout                                      --------------------                          -->
<input type="hidden" name="postnum" value={{ postnum }}>
  <div>
    <fieldset class="bakfa">
      <div>
          <table>
            <tr>
              <td>  <span class="w3-xlarge w3-text-red">*</span>Venue Name:</td>
              <td> {{form.name(style="width: 300px;")}}</td>
            </tr>
                {% if "name" in form.errors %}
                  <tr>
                    <td><li class="errors"> You Must Choose a Name 4 to 100 characters long.</li></td>
                  </tr>
                {% endif %}
            <tr>
              <td>City:</td>
              <td>{{form.city(style="width: 300px;")}}</td>
              <td>State/Province:</td>
              <td>{{form.state_prov(style="width: 300px;")}}</td>
            <tr>
              <td> Country:</td>
              <td>{{form.country(style="width: 300px;")}}</td>
              <td>Postal Code:</td>
              <td>{{form.postalcode(style="width: 300px;")}}</td>
            </tr>
            <td>&nbsp;</td>
            <tr>
              <td>Phone 1:</td>
              <td>{{form.phone1(style="width: 300px;")}}</td>
              <td>Phone 2:</td>
              <td>{{form.phone2(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Fax:</td>
              <td>{{form.fax(style="width: 300px;")}}</td>
              <td>Email:</td>
              <td>{{form.email(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Venue Website:</td>
              <td>{{form.weblink(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Meeting Rooms:</td>
              <td>{{form.meeting_rooms(style="width: 300px;")}}</td>
              <td>Lodging Rooms:</td>
              <td>{{form.room_size(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Business Centre:</td>
              <td>{{form.business_centre(style="width: 300px;")}}</td>
              <td>Internet (WIFI):</td>
              <td>{{form.internet(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Room Size:</td>
              <td>{{form.room_size(style="width: 300px;")}}</td>
              <td>Max Occupancy:</td>
              <td>{{form.max_occupancy(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Dining Room:</td>
              <td>{{form.dining_room(style="width: 300px;")}}</td>
              <td>Bar:</td>
              <td>{{form.bar(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Kitchen:</td>
              <td>{{form.kitchen(style="width: 300px;")}}</td>
              <td>Food Service:</td>
              <td>{{form.food_service(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Vip Service:</td>
              <td>{{form.vip_service(style="width: 300px;")}}</td>
              <td>Handicap:</td>
              <td>{{form.handicap(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Audio:</td>
              <td>{{form.kitchen(style="width: 300px;")}}</td>
              <td>Visual:</td>
              <td>{{form.food_service(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Stage:</td>
              <td>{{form.stage(style="width: 300px;")}}</td>
              <td>Dance:</td>
              <td>{{form.dance(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Lighting:</td>
              <td>{{form.lighting(style="width: 300px;")}}</td>
              <td>Dressing Rooms:</td>
              <td>{{form.dressing_rooms(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Storage:</td>
              <td>{{form.storage(style="width: 300px;")}}</td>
              <td>Loading Dock:</td>
              <td>{{form.loading_dock(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Air Conditioning:</td>
              <td>{{form.airconditioning(style="width: 300px;")}}</td>
              <td>Parking:</td>
              <td>{{form.parking(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td>Showers:</td>
              <td>{{form.showers(style="width: 300px;")}}</td>
              <td>Other Services:</td>
              <td>{{form.other_services(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td> Venue Image: </td>
              <td>{{form.image(style="width: 300px;")}}</td>
            </tr>
            <tr>
              <td colspan="4">
                {% if "body" in form.errors %}
                  <li class="errors"> Oops Too much text! </li>
                {% endif %}
              Venue Description: 3000 characters of HTML or TEXT maximum: (Shift-Enter for newline, just Enter for new paragraph)<br>
              {{ ckeditor.load(pkg_type="standard") }}
              {{ ckeditor.config(custom_config="uiColor: '#9AB8F3'") }}
              {{ form.body }}
              </td>
            </tr>
          </table>
      </div>
    </fieldset>
    <div><input type="submit" value="Submit" /></div>
  </div>
</form>
</div>
<script>
$( "#vtype" ).autocomplete({
select: function( event, ui ) {
    $.getJSON($SCRIPT_ROOT + '/_vgroupchoice', {a: ui.item.label},
        function (data) {
        $("#grouptbody").replaceWith(data.result);
    });
    },
  minLength: 2,
  source: [ "academy","airport", "aquarium", "arena", "auditorium", "bars", "beautysalon", "boat",
"caberet", "campground", "casino", "church", "college", "community_centre", "conference", "convention",
"court", "distillery", "fair", "farm", "fraternity", "funeral", "garden", "golf", "gym", "healthclub",
"home", "hospital", "hostel", "hotel", "ice_skating", "indoor", "internetcafe", "kennel", "kitchen",
"legislature", "library", "market", "marina", "medical_clinic", "motel", "museum", "nail_salon",
"night_club", "office", "outdoor", "park", "playgrounds", "pool", "postoffice","pubs", "radiostation",
"rec_centre", "resort", "restaurant", "retail", "rink", "river_tours", "salon","school", "seminary",
"ship", "spa", "stadium", "stage", "theatre", "university", "vinyard", "walks", "webinar", "winery", "zoo" ]
});
</script>
<script>
  var popupWindow = null;
  function centeredPopup(url,winName,w,h,scroll){
    LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
    TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
    settings = 'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
    popupWindow = window.open(url,winName,settings);
    popupWindow.focus();
    //alert('hello popup');
    window.childcall = function(num){//this triggers trackcheck on the previous parent window
    //alert('call');
    postnum(num);
    }
  }
</script>

<script>
  "use strict";
  function postnum(num) {
    /*alert('Inside postvenue trackcheck');*/
    //alert(num);
    $.getJSON($SCRIPT_ROOT + '/_venedit', {a: num},
        function (data) {
        $("#topimg").replaceWith(data.result);
        //$("#upload").hide();
        /*alert('data.result');*/
    });
    //alert("Done");
    return false;
  };
</script>

{% else %}
    <p>You need to be <a href="/login/" target="blank"><strong>logged in</strong></a> to edit this data.</p>
{% endif %}

{% endblock %}



