<!DOCTYPE html
PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<link rel="icon" type="image/png" href="static/images/frank.png">
<head>
	<title>GidOut - {{title}}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />  
</head>
<body>

<h1>File Not Found</h1>
<p><a href="index">Back</a></p>
</body>
</html>
