/* IDs */
#middle {font-size: 40px;}
#map {height: 100%;float:right;}
#map1 {height: 100%;}
#icons{width:41.66666%}
/* special */
.tabbtm{border: 1px solid gray;background:#eeeeee;padding:5px;margin-left:4px;}
.gid{height:60px;width:260px;}
.bor{border: 1px solid #999999;}
.bor1{border: 2px solid #999999;}
.bor2{border: 2px solid #f00;}
.bor3{border: 2px solid #0f0;}
.bakef{background:#efefef;}
.bakf{background:#ffffff;}
.bakfd{background:#fdfdfd;}
.bakfa{background:#fafafa;}
.bake{background:#eeeeee;}
.bak1{background:#ffcccc;}
.bak2{background:#ccffcc;}
.bak3{background:#ccffff;}
.bak4{background:#5555ff;}
.bak5{background:#ff55ff;}
.txtaleft{text-align:left;}
.txtacent{text-align:center;}
.txtcentre{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.vertop{vertical-align:top;}
.padl{padding:20px 10px 10px 10px;}
.padsm{padding:4px 6px 4px 6px;}
.padmed{padding:8px;}
.padleft{margin-left:-84px;}
.maxh260{max-height:260px;}

.imghomemax{max-height:220px;max-width:260px}
.imgad{height:250px;width:200px;}
.imgbutmax{max-height:60px;max-width:60px}
.imgbutton{height:60px;width:60px;}
.imgcenter{display:block;margin-left:auto;margin-right:auto;width:50%;}
.homeimg{height:60px;}
.noborder{border:none;}
.vthumb{width:60px;height:60px;padding:2px 1px 4px 1px;}


.overlay-image { position: relative;width: 100%;}


.venimage   {transition:.7s ease; display: block; width: 100%; height: auto;width:120px;height:120px;padding:2px 1px 4px 1px;}
.venimagesel{transition:.7s ease; display: block; width: 100%; height: auto;width:120px;height:120px;padding:2px 1px 4px 1px;opacity: 0.1;}

.ventext{color:white;font-size:16px;line-height:1.5em;padding:16px 32px;text-shadow: 2px 2px 2px #000;
    text-align: center;position:absolute;top:50%;left:40%;transform:translate(-50%, -50%); z-index: -1;}



.grouplink{width:60px;height:60px;font-size:7.00pt;text-overflow: clip}
.smfont{font-size:9pt;}
.drop50{padding-top:50px;}
.errors{color:#f44;font-weight: bold;}
.center {margin: auto;width: 100%;}
.flashes{color:#ff8800;}
.inline{display:inline;}

.topbar6{max-width:100%;height:auto;margin-left: auto;margin-right: auto;}
.topbarin{width:15%;display:inline-block;text-align: center;font-size:7.00pt;max-width:100%;height:auto;}

.topcontainer{max-width:100%;height:auto;margin-left: auto;margin-right: auto;}
.topcontainer1{max-width:100%;margin:auto;}

.topcontents{width:8%;display:inline-block;text-align: center;font-size:7.00pt;max-width:100%;height:auto;}
.topcontents1{width:25%;display:inline-block;text-align: center;vertical-align:top;font-size:11.00pt;background-color: #eee;text-overflow:"";}
.topcontentsbar{max-width:12%;display:inline-block;margin:5px;}
.topcontents10{width:10%;display:inline-block;text-align: center;vertical-align:middle;font-size:7.00pt;min-width:94px;}
.topcontents11{display:inline-block;font-size:7.00pt;}
.topcontentstext{white-space:normal;font-size: 10.00pt;max-width:420px;padding:5px 5px 5px 15px;text-align:left;text-overflow:ellipsis;}
.scale{max-width:100%;height:auto;}

.minh250{min-height: 250px;}
.minw500{min-width: 500px;}
.maxh250{max-height: 250px;max-width: 600px;}
.pageimg{width:220px;height:150px;}

.font7{font-size:7.00pt;}
.font10{font-size:10.00pt;}
.font12{font-size:12.00pt;}
.font14{font-size:14.00pt;}

.toptitle{font-size: 10.00pt; font-weight:bold;text-overflow:"";color:#333333}
.topvenue{font-size: 8.00pt; font-weight:bold;text-overflow:"";color:#555555}

table.center{margin-left:auto;margin-right:auto;}

.btn-b{background:#3c5}
.btn-b:hover{background:#2b4}
.btn-b:active,.btn-b:focus{background:#2a4}
.floatl{float:left;display:inline-block;}
.floatr{float:right;display:inline-block;}
.floatc{margin: 0 auto;}
.margin2{margin:2px;}
.margintopneg{margin-top:-10px;}
.marginl{margin-left:20px;}
.marginr{margin-right:20px;}
.w3-bar-item1{padding:2px 4px;float:left;width:auto;border:none;display:block;outline:0}

.cursor {cursor: pointer;}
.mySlides{display: none;}


.prev,.next{
  cursor:pointer;
  position:absolute;
  top:48%;
  width:auto;
  padding:16px;
  margin-top:-50px;
  color:white;
  font-weight:bold;
  font-size:20px;
  border-radius: 0 3px 3px 0;
  user-select:none;
  -webkit-user-select:none;
}
/* My Image Venue */

.next{right:54%;border-radius: 3px 0 0 3px;}
.prev{left:21%;border-radius: 3px 0 0 3px;}
.prev:hover,.next:hover{background-color: rgba(0, 0, 0, 1.0);}
.row{max-width:500px;margin:auto;}
.numbertext{color: #f2f2f2;font-size: 12px;padding: 8px 12px;position: absolute;top: 0;}

.row:after {content: "";display: table;clear: both;}
.column {float: left;width: 16.66%;}
.demo {opacity: 0.4;}
.active,.demo:hover {opacity: 1;}
.venimg{width:400px;height:300px;}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {margin: auto;display: block;width: 80%;max-width: 700px;animation-name: zoom;animation-duration: 0.6s;}

@keyframes zoom {from {transform:scale(0)}to{transform:scale(1)}}

.gclose {position: absolute;top: 15px;right: 35px;color: #f1f1f1;font-size: 40px;font-weight: bold;transition: 0.3s;}

.gclose:hover,.gclose:focus {color: #bbb;text-decoration: none;cursor: pointer;}

@media only screen and (max-width:399px){
  #pic1{display:none;}
  #pic2{display:none;}
  .smimg{max-width:46px;max-height:46px;}
  .margintopneg{margin-top:168px;}
  #space1{display: none;}
  #space2{display: none;}
  #icons{width:100%}
}

@media only screen and (min-width:400px ){
  #pic1{display:none;}
  #pic2{display:none;}
  .smimg{max-width:60px;max-height:60px;}
  .margintopneg{margin-top:185px;}
  #space1{display: none;}
  #space2{display: none;}
  #icons{width:100%}
}
@media only screen and (min-width:601px){
  #pic1{display:inline-block;}
  #pic2{display:inline-block;}
  .margintopneg{margin-top:94px;}
  .smimg{max-width:48px;max-height:48px;}
  #space1{display: none;}
  #space2{display: none;}
  #icons{width:54.99999%}

@media only screen and (min-width:840px){
  #pic1{display:inline-block;}
  #pic2{display:inline-block;}
  .margintopneg{margin-top:80px;}
  .smimg{max-width:52px;max-height:52px;}
  #space1{display: inline-block;}
  #space2{display: inline-block;}
  #icons{width:41.66666%}

@media only screen and (min-width:940px){
  #pic1{display:inline-block;}
  #pic2{display:inline-block;}
  .margintopneg{margin-top:80px;}
  .smimg{max-width:60px;max-height:60px;}
  #icons{width:41.66666%}
}













